<article class='panel' data-panel-type='faq' data-panel-status=''>
    <div class="mb-5 justify-content-start">
        <h1 class="fw-bold">Frequently Asked Questions</h1>
        <p class="text-muted">Manage the FAQ page</p>

        <!-- Main content -->
        <div class="mb-5 w-100">
            <!-- FIlters -->
            <div class='
                mb-2
                d-flex
                filters
                gap-2
            '>  
                <div class='w-50'>
                    <label class="form-label" for="filter">Filter by</label>
                    <select 
                        name="filter" 
                        id="filter" 
                        class="form-select w-100 inp"
                    >   
                        <option value="created" selected>Created</option>
                        <option value="updated">Updated</option>
                        <option value="question">Question</option>
                        <option value="answer">Answer</option>
                        <option value="section">Section</option>
                    </select>
                </div>

                <div class='w-50'>
                    <label class="form-label" for="order">Order by</label>
                    <select 
                        name="order" 
                        id="order" 
                        class="form-select w-100 inp"
                    >   
                        <option value="desc" selected>Descending</option>
                        <option value="asc">Ascending</option>
                    </select>
                </div>
            </div>

            <div class="mb-4 w-100">
                <label class="form-label" for="search">Search</label>
                <input 
                    name="search" 
                    id="search" 
                    placeholder="Question, answer, section, etc."
                    class="form-control inp">
            </div>



            <!-- Users -->
            <div class='content-loader' dimmed='false'>
                <div class='dimmer'></div>
                <div class='mb-5 d-flex users content flex-column gap-2'></div>
            </div>



            <!-- Pagination -->
            <div class="
                d-flex 
                justify-content-between
                justify-content-center
                gap-2          
                text-center  
            ">   
                
                <!-- Prev -->
                <button 
                    id="prev"
                    class="w-100 h-100 btn btn-primary info loader-btn prev"
                    loader-state='default'>   
                    <span> <div class='spinner-border' role='status'> 
                    <span class='visually-hidden'>Loading...</span> </div> </span>
                    <p><i class="fas fa-chevron-left"></i> Prev</p>
                </button>

                <!-- Input -->
                <div class="h-100 w-100">
                    <input 
                        name="page" 
                        id="page"
                        placeholder="1" 
                        value="1"
                    class="form-control inp text-center">

                    <!-- Out of -->
                    <p class="text-muted m0 out-of">out of 1</p>
                </div>

                <!-- Next -->
                <button 
                    id="next"
                    class="w-100 h-100 btn btn-primary info loader-btn next"
                    loader-state='default'>   
                    <span> <div class='spinner-border' role='status'> 
                    <span class='visually-hidden'>Loading...</span> </div> </span>
                    <p>Next <i class="fas fa-chevron-right"></i></p>
                </button>

            </div>
        </div>

        <hr>

        <div class='w-100 mt-2'>
            <button 
                id="faq-create"
                class="w-100 h-100 btn btn-success success loader-btn"
                loader-state='default'>   
                <span> <div class='spinner-border' role='status'> 
                <span class='visually-hidden'>Loading...</span> </div> </span>
                <p>Create</p>
            </button>
        </div>
    </div>
</article>


