{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load tags %}

{% block metadescription %}
    {{ user.cased_username }} control panel
{% endblock %}

{% block title %}
    {{ user.cased_username }} - Control Panel
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/payments.css' %}">
    <link rel="stylesheet" href="{% static 'css/cropper.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block content %}
    <span 
        class='config'
        data-csrf-token='{{ csrf_token }}'
        data-statistics='{{ api.get_statistics }}'

        data-send-verification='{{ api.send_verification }}'
        data-resend-verification='{{ api.resend_verification }}'
        data-remove-verification='{{ api.remove_verification }}'
        data-recent-verification='{{ api.recent_verification }}'
        data-users='{{ api.users }}'
        data-get-user='{{ api.get_user }}'

        data-delete-user='{{ api.delete_user }}'
        data-update-email='{{ api.update_email }}'
        data-update-streamer-status='{{ api.update_streamer_status }}'

        data-category='{% cross_app_reverse_tag "events" "categorys" use_subdomain=False %}'
        data-get-category='{% cross_app_reverse_tag "events" "get_category" use_subdomain=False %}'
        data-create-category='{% cross_app_reverse_tag "events" "create_category" use_subdomain=False %}'
        data-update-category='{% cross_app_reverse_tag "events" "update_category" use_subdomain=False %}'
        data-delete-category='{% cross_app_reverse_tag "events" "delete_category" use_subdomain=False %}'
        data-set-category-image='{% cross_app_reverse_tag "events" "upload_category_image" use_subdomain=False %}'
    
        data-broadcaster='{% cross_app_reverse_tag "events" "broadcasters" use_subdomain=False %}'
    ></span>
    <div 
    id = 'main-container'
    class='
        main-container
    '>
        <!-- 1/4 Of the page-->
        <div 
            id='side-panel'
            class='side-panel text-light'
            side-panel='hidden'
        >
            <div class='width-limiter'>

                <section id='pod-statistics'>
                    <!-- 
                        Header - Statistics
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Statistics
                        </p>
                    </div>

                    <div class='pods'>
                        <!-- 
                            Pod - Server
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='server'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-server"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Server Status
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Server
                        -->
                            

                        <!-- 
                            Pod - Cash Flow
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='cash_flow'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-money-simple-from-bracket"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Cash Flow
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Cash Flow
                        -->
                        


                        <!-- 
                            Pod - Tickets
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='tickets'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-ticket"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Tickets
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Tickets
                        -->


                        <!-- 
                            Pod - Subscriptions
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='subscriptions'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-plus"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Subscriptions
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Subscriptions
                        -->


                        <!-- 
                            Pod - Viewrs
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='viewers'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-face-viewfinder"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Viewers
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Subscriptions
                        -->
                    </div>
                </section>



                <section id='pod-users'>
                    <!-- 
                        Header - Users
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            User Managment
                        </p>
                    </div>

                    <div class='pods'>
                        <!-- 
                            Pod - Users
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='users'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-user"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Users
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Subscriptions
                        -->


                        <!-- 
                            Pod - Accounts
                        -->
                        <div 
                            data-pod-status='active'
                            data-pod='accounts'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-users"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                User Statistics
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Accounts
                        -->
                    </div>
                </section>


                <section id='pod-content'>
                    <!-- 
                        Header - Content
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Content Managment
                        </p>
                    </div>

                    <div class='pods'>
                        <!-- 
                            Pod - Categories
                        -->
                        <div data-pod-status='' data-pod='categories'
                        class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-tags"></i></div>

                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Categories
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Categories
                        -->


                        <!-- 
                            Pod - Broadcasters
                        -->
                        <div data-pod-status='' data-pod='broadcasters'
                        class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-tower-broadcast"></i></div>

                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Broadcasters
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Broadcasters
                        -->


                        <!-- 
                            Pod - Events
                        -->
                        <div data-pod-status='' data-pod='events'
                        class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-calendar-days"></i></div>

                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Events
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Events
                        -->


                        <!-- 
                            Pod - Reviews
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='reviews'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-star-sharp-half-stroke"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'><p class='side-panel-pod-text-text m-0 mb-0'>
                                Review Statistics
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Reviews
                        -->
                    </div>
                </section>
            </div>

        <!-- End of menu -->
        </div>

        
        <!-- 3/4 Of the page-->
        <div class='
            main-panel
        '>
            
            <div class = '
                mt-4
                justify-content-center
                align-items-center
            '>

            <div class = '
                size-limiter
            '>
                <div class = '
                    rounded
                '>
                    <div class = '
                        row 
                        g-0
                        main-content
                    '>
                        <main>
                            <!--
                                p-5 on large screens
                                p-3 on small screens
                            -->
                            <div class = "
                                card-body 
                                rounded
                                p-xxl-5
                                p-xl-5
                                p-lg-5
                                p-md-3
                                p-sm-3
                                p-2
                                text-light
                                smoother
                            ">
                                {% include 'admin/statistics.html' %}
                                {% include 'admin/users.html' %}
                                {% include 'admin/categorys.html' %}
                                {% include 'admin/broadcaster.html' %}

                            </div>
                        </main>
                    </div>
                </div>
            </div>
            </div>
        </div>


    </div>

    <!-- Js -->
    {% render_bundle 'admin' %}
{% endblock %}