.side-panel-pod-icon {
    --statistics-selected: #4de061;
    --user-management-selected: #4daae0;
    --content-management-selected: #634de0;
    --miscellaneous-selected: #e04d4d;
    
    --not-selected: #00000036;
}

[data-pod='server'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='server'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--statistics-selected); }

[data-pod='cash_flow'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='cash_flow'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--statistics-selected); }

[data-pod='tickets'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='tickets'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--statistics-selected); }

[data-pod='subscriptions'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='subscriptions'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--statistics-selected); }

[data-pod='viewers'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='viewers'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--statistics-selected); }


[data-pod='accounts'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='accounts'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--user-management-selected); }

[data-pod='users'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='users'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--user-management-selected); }


[data-pod='categories'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='categories'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--content-management-selected); }

[data-pod='venues'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='venues'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--content-management-selected); }

[data-pod='broadcasters'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='broadcasters'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--content-management-selected); }

[data-pod='events'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='events'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--content-management-selected); }

[data-pod='reviews'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='reviews'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--content-management-selected); }

[data-pod='review_statistics'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='review_statistics'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--content-management-selected); }


[data-pod='reports'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='reports'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--miscellaneous-selected); }

[data-pod='privacy'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='privacy'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--miscellaneous-selected); }

[data-pod='terms'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='terms'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--miscellaneous-selected); }

[data-pod='faq'] .side-panel-pod-icon { background-color: var(--not-selected); }
[data-pod='faq'][data-pod-status='active'] .side-panel-pod-icon { background-color: var(--miscellaneous-selected); }

.graphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.data-chart {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-chart canvas {
    background-color: var(--theme-color);
    padding: 1rem;
    border-radius: 0.5rem;
    min-width: 100%;
    min-height: 100%;
}


.data-chart > .data-chart-container {
    width: 100%!important;
    height: 100%!important;
}

.data-chart > .data-chart-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.data-chart > .data-chart-info h3 {
    color: var(--font-color);
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.data-chart > .data-chart-info p {
    color: var(--muted-font-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.graph-filters > div select,
.graph-filters > div input {
    background-color: var(--theme-color);
    color: var(--font-color);
    border: none!important;
    border-radius: 0.5rem!important;
    padding: 0.5rem!important;
    font-size: 1rem!important;
    font-weight: 400;
    margin: 0!important;
    outline: none;
}



/* 
    #users
*/
.users { 
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: 2rem;
    width: 100%;
    min-height: 5rem;
    background-color: var(--theme-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 100%;
}

.filterd-user {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-backdrop-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 1rem;
}

.profile-images {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-images img {
    background-color: var(--theme-color);
    aspect-ratio: 1/1;
    height: 5rem;
    border-radius: 0.5rem;
}

.profile-info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.profile-info h3 {
    margin: 0;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.bold {
    font-weight: 600;
}

.profile-actions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}


/* At 600 we need to start breaking */
@media (max-width: 600px) {
    .filterd-user, .category {
        flex-direction: column;
    }

    .profile-images {
        flex-direction: row;
    }

    .profile-info {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .profile-actions {
        flex-direction: row;
        width: 100%;
    }

    .cat-desc {
        width: 100%;
        overflow: hidden;
    }

    .cat-info {
        width: 100%;
        flex-wrap: wrap;
    }
    
    .modal-banner {
        width: 100%!important;
    }

    .events-scale {
        flex-direction: column;
    }

    .events-scale .profile-info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .event-details-flex {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }

    .event-details-flex h3 {
        width: 100%!important;
    }
}


/* Graphs */
@media (max-width: 900px) and (min-width: 700px) {
    .graphs { flex-direction: column; }
    .data-chart { 
        width: 100%; 
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 4fr;
        gap: 1rem;
    }

    .data-chart-container {
        grid-column: 1;
        grid-row: 1 / 4;
    }

    .data-chart-info {
        grid-column: 2;
        grid-row: 1;
    }

    .graph-filters {
        grid-column: 2;
        grid-row: 2;
    }

    .data-chart .btn-group {
        grid-column: 2;
        grid-row: 3;
    }
}

@media (max-width: 700px) {
    .graphs { flex-direction: column; }
    .data-chart { 
        width: 100%; 
    }
}

.slider-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    box-sizing: border-box;
    height: 200%;
}

.slider-grid-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.content-loader {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    position: relative;
}


.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    z-index: 5;
}

[dimmed='true'] .dimmer { 
    background-color: #00000067;
    display: block; 
}
[dimmed='false'] .dimmer { 
    background-color: #00000000;
    pointer-events: none;
}


.modal-banner {
    width: 100%;
    aspect-ratio: 21 / 7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}



.modal-avatar {
    box-shadow: 0 0 0.5rem 0.25rem #0000003b;
    width: 30%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    transform: translateY(25%);
    margin-top: -25%;
}

.modal-logins {
    width: 100%;
    flex-grow: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--theme-backdrop-color);
}

.cat-container {
    background-color: var(--theme-backdrop-color);
    border-radius: 0.5rem;
}


.width-limiter {
    margin-bottom: 5rem;
}


