.side-panel-header-text {
    color: var(--greyed-out-font-color);
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 1.5rem;
}

.main-content {
    height: auto!important;
}

.side-panel-pod {
    margin: 0.25rem;
    padding: 0.6rem;
    border-radius: 0.65rem;
    gap: 0.75rem;
    width: fit-content;
    transition: 
        background-color 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}

.side-panel-pod:hover {
    background-color: var(--theme-backdrop-color);
    cursor: pointer;
}

.side-panel-pod:active {
    background-color: var(--theme-backdrop-color);
}

.side-panel-pod-icon {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 0.5rem;
}

.side-panel-pod-text { 
    margin: 0; 
    color: var(--greyed-out-font-color); 
    user-select: none;
}

/* General */
[data-pod='profile'] .side-panel-pod-icon { background-color: #88d464; }
[data-pod='payment'] .side-panel-pod-icon { background-color: #88d464; }
[data-pod='notifications'] .side-panel-pod-icon { background-color: #88d464; }
[data-pod='streamstageplus'] .side-panel-pod-icon { background-color: #88d464; }

/* Security */
[data-pod='security'] .side-panel-pod-icon { background-color: #ff6a6a; }
[data-pod='security-preferences'] .side-panel-pod-icon { background-color: #ff6a6a; }
[data-pod='security-mfa'] .side-panel-pod-icon { background-color: #ff6a6a; }
[data-pod='security-linked-accounts'] .side-panel-pod-icon { background-color: #ff6a6a; }
[data-pod='security-password'] .side-panel-pod-icon { background-color: #ff6a6a; }
[data-pod='security-email'] .side-panel-pod-icon { background-color: #ff6a6a; }
[data-pod='security-history'] .side-panel-pod-icon { background-color: #ff6a6a; }
[data-pod='security-delete'] .side-panel-pod-icon { background-color: #ff6a6a; }

/* Other */
[data-pod='help'] .side-panel-pod-icon { background-color: #4d74e0; }
[data-pod='purchases'] .side-panel-pod-icon { background-color: #4d74e0; }
[data-pod='reviews'] .side-panel-pod-icon { background-color: #4d74e0; }

/* Broadcaster */
[data-pod='events'] .side-panel-pod-icon { background-color: #4de0e0; }
[data-pod='broadcaster'] .side-panel-pod-icon { background-color: #4de0e0; }

/* Admin */
[data-pod='event-request'] .side-panel-pod-icon { background-color: #4de09b; }
[data-pod='broadcaster-request'] .side-panel-pod-icon { background-color: #4de09b; }
[data-pod='venues'] .side-panel-pod-icon { background-color: #4de09b; }


/*  
    Active pod
*/
[data-pod-status='active'] { 
    background-color: var(--theme-color)!important;
}

[data-pod-status='active'] .side-panel-pod-text { 
    color: #fff!important;
}


/* 
    Hidden pod
*/
[data-pod-status='hidden'] { 
    display: none!important;
}

[data-panel-status='hidden'] {
    display: none!important;
}



/* 
    Main content
*/

.panel {
    background-color: transparent!important;
    border-radius: 15rem;
}

.size-limiter {
    width: unset!important;
    margin: auto;
}

.profile-picture {
    background-color: var(--theme-color);
    border-radius: 1rem;
    height: 10rem;
    width: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}



.side-panel {
    padding-left: 1rem;
    position: fixed;
    background-color: var(--theme-secondary-color);
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    width: 25rem;
    top: var(--header-height);
    left: 0;
    z-index: 99999;
    border-right: 1px solid var(--theme-color)!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)!important;
}

.pods > div {
    width: 90%;
}

@keyframes slide-in {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

[side-panel='hidden'] { display: none; }
[side-panel='visible'] { display: block; }
[side-panel='in'] { 
    animation: slide-in var(--header-button-speed) ease-in-out forwards; 
}
[side-panel='out'] { 
    animation: slide-in var(--header-button-speed) ease-in-out reverse forwards; 
}


@media only screen and (max-width: 1200px) and (min-width: 500px) {
    .side-panel {
        width: 20rem!important;
    }
    .oauth-id-bottom { display: none!important; }
}

@media only screen and (max-width: 500px) {
    .side-panel {
        width: 100vw!important;
    }

    #new-password-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    #login-history { padding: 0!important; }
    #login-history p { width: 100%; }    
    #login-history > div > div > div { 
        display: block!important;
    }


    .oauth-id-top { display: none; }
    .oauth-id-bottom { 
        display: block!important; 
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
    }
    .oauth-id-bottom p {
        text-align: center;
    }

    .linked-account-continer {
        padding: 0.5rem!important;
        margin-top: 0.5rem!important;
    }

    .oauth-times {
        display: flex!important;
        flex-direction: column!important;
        justify-content: space-between!important;
    }

    .oauth-times p {
        width: 100%!important;
    }

    #linked-accounts { padding: 0rem!important; }
    #linked-accounts > div > div {
        padding: 0.5rem!important;
    }
}


.oauth-id-bottom { display: none!important; }

/* 
    Forms
*/

/* Profile */
#first_name-container { width: 60%; }
#last_name-container { width: 40%; }

#id_country-container { width: 60%; }
#id_time_zone-container { width: 40%; }


/* Security */
[data-has-tfa='true'] .email { display: none!important; }
[data-has-tfa='false'] .mfa { display: none!important; }

.tfa-input > input {
    background-color: var(--theme-color)!important;
}



/*
    Payments
*/
.cards {
    padding: 1rem;
}

.cards-body {
    background-color: var(--theme-color);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.card-number {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
}

.card-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-date {
    margin: 0;
}

.card-icon > i {
    font-size: 1.5rem;
    display: none;
}

.card-added {
    margin: 0;
    width: 100%;
    text-align: center;
}

[card-type='cartes_bancaires'] [data-card='cartes_bancaires'] { display: block!important; }
[card-type='unionpay'] [data-card='unionpay'] { display: block!important; }
[card-type='amex'] [data-card='amex'] { display: block!important; }
[card-type='diners'] [data-card='diners'] { display: block!important; }
[card-type='discover'] [data-card='discover'] { display: block!important; }
[card-type='jcb'] [data-card='jcb'] { display: block!important; }
[card-type='mastercard'] [data-card='mastercard'] { display: block!important; }
[card-type='visa'] [data-card='visa'] { display: block!important; }

/* Max width 680 */
@media only screen and (max-width: 680px) {
    .cards-body { 
        padding: 0.5rem; 
        border-radius: 0.5rem; 
        flex-direction: column;
    }
    .cards-body > div { 
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .cards-body button {
        width: 100%;
        margin-top: 0.5rem;
    }
    .card-number { font-size: 1rem; }
    .card-icon { width: 1.5rem; height: 1.5rem; }
    .card-icon > i { font-size: 1.25rem; }
}

.add-card-details input {
    background-color: var(--theme-color)!important;
}