.watch-body {
    max-width: 80%!important;
    margin-left: auto;
    margin-right: auto;
}

#watch-container {
    background-color: rgba(0,0,0,0.1);
    height: 700px;
    width: 100%;
}

#video {
    background-color: rgba(0,0,0,0.1);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1px solid black;
    border-right: none;
    padding: 5px;
    height: 700px;
}

#live-chat h1{
    background-color: rgba(0,0,0,0.1);
    margin: 0px;
    padding: 0px;
    text-align: center;
    border-bottom: 1px solid black;
}

#live-chat {
    background-color: rgba(255, 255, 255, 0.055);
    border-top-right-radius: 1rem;
    border: 1px solid black;
    border-left: none;
    border-bottom-right-radius: 1rem;
    padding: 0px;
    height: 700px;
} 

#message-container {
    height: 100%;
    padding: 5px;
}

#messages {
    height: auto;
}

#chat-box {

}