{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags%}

{% block metadescription %}
Delete Review
{% endblock %}

{% block title %}
Delete Review | StreamStage
{% endblock title %}

{% block content %}
<div class="container mx-auto" style="margin-top: var(--header-height)!important">
    <h1 class="page-title">Delete Review</h1>
    <div class="d-flex mx-auto">
        <form class="form-class form-layout" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Are you sure you want to delete this review?</p>
            <div class="form-button">
                <input class="btn btn-danger" type="submit" value="Delete" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
