
<article 
    class='panel' 
    data-panel-type='profile'
    data-panel-status=''
    data-form-id='profile'
    data-form-endpoint='{{ pages.profile.endpoint }}'
>
    <!-- Header -->
    <div class="
        mb-5
        justify-content-start
    ">
        <!-- Header -->
        <h1 class="
            fw-bold 
        ">Welcome, {{ user.cased_username }}!</h1>

        <!-- Descriptiopn -->
        <p class="
            text-muted
        ">
            Here you can view your profile, edit your details, and change your password.
        </p>
    </div>

    <!-- Profile picture -->
    <div class="
        mb-5
        d-flex
        justify-content-center
        profile-picture-banner
    ">
        <!-- Banner -->
        <div class="profile-banner">
            <div 
                style="background-image: url('{{ user.get_profile_banner }}')"
                class="profile-banner-img"
            >
            <img id='banner-img'></div>
        </div>


        <!-- Profile picture -->
        <img 
            src="{{ user.get_profile_pic }}" 
            alt="Profile picture" 
            class="profile-picture"
        >
    </div>

    <!-- Username input -->
    <div class="mb-4">
        <label class="form-label" for="username">Username</label>
        <input 
            name="username" 
            id="username" 
            placeholder="Sick name 13" 
            value="{{ user.cased_username }}"
        class="
            form-control 
            form-control-lg
            inp
        ">
    </div>


    <!-- First and lastname -->
    <div
        class="
            d-flex
            gap-4
            w-100
        "
    >
        <!-- Firstname -->
        <div class="mb-4 w-100">
            <label class="form-label" for="fname">First name</label>
            <input 
                name="fname" 
                id="fname" 
                placeholder="Joe" 
                value="{{ user.first_name }}"
            class="
                form-control 
                form-control-lg
                inp
            ">
        </div>

        <!-- Lastname -->
        <div class="mb-4 w-100">
            <label class="form-label" for="lname">Last name</label>
            <input 
                name="lname" 
                id="lname" 
                placeholder="Fungus"
                value="{{ user.last_name }}"
            class="
                form-control 
                form-control-lg
                inp
            ">
        </div>
    </div>


    <!-- Description -->
    <div class="mb-4">
        <label class="form-label" for="bio">Bio</label>
        <textarea 
            name="bio" 
            id="bio" 
            cols="40" rows="5"
            placeholder="I like to eat cheese"
            class="
                form-control 
                form-control-lg
                inp
            "> 
            {{ user.description }}
        </textarea>
    </div>


    <!-- Time zone and country -->
    <div
        class="
            d-flex
            gap-4
            w-100
        "
    >
        <!-- Time zone dropdown -->
        <div class="mb-4 w-100">
            <label class="form-label" for="timezone">Time zone</label>
            <select 
                name="timezone" 
                id="timezone" 
                class="
                    form-select 
                    w-100
                    inp
                "
            >   
                {% for timezone in timezones %}
                    <option value="{{ timezone.0 }}" {% if timezone.0 == user.time_zone %}selected{% endif %}>
                        {{ timezone.1 }}
                    </option>
                {% endfor %}
            </select>
        
        </div>
        
        <!-- Country dropdown -->
        <div class="mb-4 w-100">
            <label class="form-label" for="country">Country</label>
            <select 
                name="country" 
                id="country" 
                class="
                    form-select 
                    w-100
                    inp
                "
            >   
                {% for country in countries %}
                    <option value="{{ country.0 }}" {% if country.0 == user.country %}selected{% endif %}>
                        {{ country.1 }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    


    <!-- Save button -->
    <div class="
        text-center
    ">
        <p class='
            mb-4
            fs-5
        '>
            {{ message }}
        </p>


        <!-- Buttons -->
        <div class="
            d-flex 
            justify-content-lg-start
            justify-content-center
            flex-column
        ">   
                
            <button 
                type="submit" 
                id="save-btn" 
                class="
                    btn 
                    btn-primary
                    mb-3
                    btn-lg
                    info
                    loader-btn
                "
                loader-state='default'
            >   
                <span>
                    <div class='spinner-border' role='status'>
                        <span class='visually-hidden'>Loading...</span>
                    </div>
                </span>
                <p>Save</p>
            </button>

        </div>
    </div>
</article>