<!--
    StreamStage+
-->
<article 
    class='panel' 
    data-panel-type='streamstageplus'
    data-panel-status='hidden'
>

    <!-- Header -->
    <div class="
        mb-5
        justify-content-start
    ">
        <!-- Header -->
        <h1 class="
            fw-bold 
        ">StreamStage+</h1>

        <!-- Descriptiopn -->
        <p class="
            text-muted
        ">
            StreamStage+ is a subscription service that allows you to unlock additional features and benefits.
        </p>
    </div>


    <!-- Features -->
    <div class='plan-center'>
        <div class="
            mb-5
            justify-content-start
            d-flex
            payment-plan
        ">

            <!-- Annualy -->
            <div class="
                justify-content-start
                selected
                w-100
                annualy
            ">
                <!-- Header -->
                <h2 class="
                    fw-bold
                    w-100
                    text-center
                ">Annually</h2>
                </ul>
            </div>


            <!-- Monthly -->
            <div class="
                justify-content-start
                w-100
                monthly
            ">
                <!-- Header -->
                <h2 class="
                    fw-bold
                    w-100
                    text-center
                ">Monthly</h2>
            </div>
        </div>
    </div>

    <!-- Dropdown button -->
    <button 
        type="submit" 
        class="
            mfa
            btn 
            btn-success
            btn-lg
            loader-btn
            success
            pay-now
            saved-card
            w-100
        "
        loader-state='default'
    >
        <span>
            <div class='spinner-border' role='status'>
                <span class='visually-hidden'>Loading...</span>
            </div>
        </span>
        <p>Subscribe</p>
    </button>

    <hr>
    <!-- Note -->
        <p class="
        text-muted
        text-center
        m-0
        mt-3
    ">
        Note, You will NOT be charged immediately upon entering your payment information, we 
        will ask you again to confirm your purchase before charging your payment method.
    </p>
    
    <!-- Terms -->
    <p class="
        text-muted
        text-center
        m-0
        mt-3
    ">
        By proceeding with this purchase, you agree to StreamStage's <a href='/terms'>terms and conditions</a>,
        which includes refund policies, and the <a href='/privacy'>privacy policy</a>.
        Additionally, you also agree to Stripe's <a href='https://stripe.com/'>terms and conditions</a>.
    </p>

</article>