<!--
    StreamStage+
-->
<article 
    class='panel' 
    data-panel-type='streamstageplus'
    data-panel-status=''
>

    <!-- Header -->
    <div class="
        mb-5
        justify-content-start
    ">
        <!-- Header -->
        <h1 class="
            fw-bold 
        ">StreamStage+</h1>

        <!-- Descriptiopn -->
        <p class="
            text-muted
        ">
            StreamStage+ is a subscription service that allows you to unlock additional features and benefits.
        </p>
    </div>


    <!-- Features -->
    <div class="
        mb-5
        justify-content-start
        d-flex
        row
    ">

        <!-- Free -->
        <div class="
            mb-5
            col-6
            justify-content-start
        ">
            <!-- Header -->
            <h2 class="
                fw-bold
                w-100
                text-center
            ">Free</h2>


            </ul>
        </div>


        <!-- Plus -->
        <div class="
            mb-5
            col-6
            justify-content-start
        ">
            <!-- Header -->
            <h2 class="
                fw-bold
                w-100
                text-center
            ">Plus</h2>

        </div>

    </div>
    
    <!-- Saved Cards -->
    <div class="
        mb-5
        justify-content-start
        d-flex
        row
    ">
        <!-- Please pick a card -->
        <div class="
            mb-5
            col-6
            justify-content-start
        ">
            <!-- Header -->
            <h2 class="
                fw-bold
                w-100
                text-center
            ">Please pick a card</h2>

        </div>

        <!-- Saved Cards -->
        <div 
            class='saved-dropdown'
            dropdown='false'
        >   
            <!-- Dropdown button -->
            <button 
                type="submit" 
                class="
                    mfa
                    btn 
                    btn-primary
                    mb-3
                    btn-lg
                    loader-btn
                    info
                    w-100
                "
                loader-state='default'
            >
                <span>
                    <div class='spinner-border' role='status'>
                        <span class='visually-hidden'>Loading...</span>
                    </div>
                </span>
                <p>Saved Cards</p>
            </button>

            <!-- Dropdown -->
            <div>
                <div class="cards"></div>
            </div>
        </div>
    </div>

</article>