<!--
    StreamStage+
-->
<article 
    class='panel' 
    data-panel-type='streamstageplus'
    data-panel-status=''
>

    <!-- Header -->
    <div class="
        mb-5
        justify-content-start
    ">
        <!-- Header -->
        <h1 class="
            fw-bold 
        ">StreamStage+</h1>

        <!-- Descriptiopn -->
        <p class="
            text-muted
        ">
            StreamStage+ is a subscription service that allows you to unlock additional features and benefits.
        </p>
    </div>


    <!-- Features -->
    <div class="
        mb-5
        justify-content-start
        d-flex
        row
    ">

        <!-- Free -->
        <div class="
            mb-5
            col-6
            justify-content-start
        ">
            <!-- Header -->
            <h2 class="
                fw-bold
                w-100
                text-center
            ">Free</h2>

            <!-- Features -->
            <ul class="
                list-group
                list-group-flush
            ">
                <!-- Feature -->
                <li class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                    <span>Unlimited Streamers</span>
                    <i class="fas fa-check"></i>
                </li>

                <!-- Feature -->
                <li class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                    <span>Unlimited Streams</span>
                    <i class="fas fa-check"></i>
                </li>

                <!-- Feature -->
                <li class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                    <span>Unlimited Viewers</span>
                    <i class="fas fa-check"></i>
                </li>

                <!-- Feature -->
                <li class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                    <span>Unlimited Chat</span>
                    <i class="fas fa-check"></i>
                </li>

                <!-- Feature -->
                <li class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                    <span>Unlimited Storage</span>
                    <i class="fas fa-check"></i>
                </li>

                <!-- Feature -->
                <li class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                    <span>Unlimited Bandwidth</span>
                    <i class="fas fa-check"></i>
                </li>

                <!-- Feature -->
                <li class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                    <span>Unlimited Video</span>
                    <i class="fas fa-check"></i>
                </li>

                <!-- Feature -->
                <li class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                    <span>Unlimited Audio</span>
                    <i class="fas fa-check"></i>
                </li>

                <!-- Feature -->
                <li class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-center
                ">
                    <span>Unlimited Images</span>
                    <i class="fas fa-check"></i>
                </li>

            </ul>
        </div>


        <!-- Plus -->
        <div class="
            mb-5
            col-6
            justify-content-start
        ">
            <!-- Header -->
            <h2 class="
                fw-bold
                w-100
                text-center
            ">Plus</h2>

        </div>
</article>