{% load tags %}
<!--
    StreamStage+
-->
<article 
    class='panel' 
    data-panel-type='tickets'
    data-panel-status='hidden'
>

    <!-- Header -->
    <div class="
        mb-5
        justify-content-start
    ">
        <!-- Header -->
        <h1 class="
            fw-bold 
        ">Tickets</h1>

        <!-- Descriptiopn -->
        <p class="
            text-muted
        ">
            View all your inperson and online tickets here!
        </p>
    </div>

    <!-- -----Online Tickets----- -->
    <div id="online-tickets-header"
    class="
        my-3
        justify-content-start
        inline-breaker
    ">
        <div class='w-100 line'></div>
        <div class='w-50 text'>
            <p class="text-muted m-0">Virtual Tickets</p>
        </div>
        <div class='w-100 line'></div>
    </div>

    <div class='w-100 h-100' id='online-tickets'>
        {% for ticket in tickets.upcoming %}
            {% if ticket.streaming_ticket %}
                <div class='ticket'>

                    <div class='ticket-body'>
                        <div class='ticket-details'>
                            <div class='ticket-title'>
                                <h3 class='fw-bold'>{{ ticket.event.title }}</h3>
                            </div>

                            <div class='ticket-info'>
                                <p class='text-muted'>
                                    {{ ticket.date.day }} {{ ticket.date.day_num }} 
                                    {{ ticket.date.month }} {{ ticket.date.year }}
                                </p>
                                <i class="text-muted fa-solid fa-circle"></i>
                                <p class='text-muted'>
                                    {{ ticket.date.time }}
                                </p>
                                <i class="text-muted fa-solid fa-circle"></i>
                                <p class='text-muted'>
                                    {{ ticket.event.venue }}
                                </p>
                            </div>
                        </div>

                        <div class='ticket-actions'>
                            <button type="submit" id="view" loader-state='default'
                                class="mfa btn btn-outline btn-lg loader-btn transparent-btn w-100">
                                <span><div class='spinner-border' role='status'>
                                    <span class='visually-hidden'>Loading...</span></div>
                                </span>
                                <p>View</p>
                            </button>
                        </div>
                    </div>

                    <!-- Gradient background -->
                    <div class='ticket-gradient'></div>
                    <div 
                        class='ticket-image'
                        style='background-image: url("{{ ticket.event.splash }}");'
                    ></div>
                </div>
            {% endif %}

        {% endfor %}
    <div class='w-100 h-100' id='online-tickets'></div>



    <!-- -----Inperson Tickets----- -->
    <div id="inperson-tickets-header"
    class="
        my-3
        justify-content-start
        inline-breaker
    ">
        <div class='w-100 line'></div>
        <div class='w-50 text'>
            <p class="text-muted m-0">Inperson Tickets</p>
        </div>
        <div class='w-100 line'></div>
    </div>

    <div class='w-100 h-100' id='inperson-tickets'>
        {% for ticket in tickets.upcoming %}
            {% if ticket.streaming_ticket == False %}
                <div class='ticket'>

                    <div class='ticket-body'>
                        <div class='ticket-details'>
                            <div class='ticket-title'>
                                <h3 class='fw-bold'>{{ ticket.event.title }}</h3>
                            </div>

                            <div class='ticket-info'>
                                <p class='text-muted'>
                                    {{ ticket.date.day }} {{ ticket.date.day_num }} 
                                    {{ ticket.date.month }} {{ ticket.date.year }}
                                </p>
                                <i class="text-muted fa-solid fa-circle"></i>
                                <p class='text-muted'>
                                    {{ ticket.date.time }}
                                </p>
                                <i class="text-muted fa-solid fa-circle"></i>
                                <p class='text-muted'>
                                    {{ ticket.event.venue }}
                                </p>
                            </div>
                        </div>

                        <div class='ticket-actions'>
                            <button type="submit" id="view" loader-state='default'
                                class="mfa btn btn-outline btn-lg loader-btn transparent-btn w-100">
                                <span><div class='spinner-border' role='status'>
                                    <span class='visually-hidden'>Loading...</span></div>
                                </span>
                                <p>Ticket</p>
                            </button>
                        </div>
                    </div>

                    <!-- Gradient background -->
                    <div class='ticket-gradient'></div>
                    <div 
                        class='ticket-image'
                        style='background-image: url("{{ ticket.event.splash }}");'
                    ></div>
                </div>
            {% endif %}
        {% endfor %}
    </div>



    <!-- -----Expired Tickets----- -->
    <div id="expired-tickets-header"
    class="
        my-3
        justify-content-start
        inline-breaker
    ">
        <div class='w-100 line'></div>
        <div class='w-50 text'>
            <p class="text-muted m-0">Expired Tickets</p>
        </div>
        <div class='w-100 line'></div>
    </div>

    <div class='w-100 h-100' id='expired-tickets'>
        {% for ticket in tickets.expired %}
            <div class='ticket'>
                <div class='ticket-body'>
                    <div class='ticket-details'>
                        <div class='ticket-title'>
                            <h3 class='fw-bold'>{{ ticket.event.title }}</h3>
                        </div>

                        <div class='ticket-info'>
                            <p class='text-muted'>
                                {{ ticket.date.day }} {{ ticket.date.day_num }} 
                                {{ ticket.date.month }} {{ ticket.date.year }}
                            </p>
                            <i class="text-muted fa-solid fa-circle"></i>
                            <p class='text-muted'>
                                {{ ticket.date.time }}
                            </p>
                            <i class="text-muted fa-solid fa-circle"></i>
                            <p class='text-muted'>
                                {{ ticket.event.venue }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Gradient background -->
                <div class='ticket-gradient'></div>
                <div 
                    class='ticket-image'
                    style='background-image: url("{{ ticket.event.splash }}");'
                ></div>
            </div>
        {% endfor %}
    </div>

</article>
