{% load static %}
{% load crispy_forms_tags%}


{% block content %}

<div class="row my-2 px-4 mx-auto">
    <div class="col-md-3 col-sm-12">
        <!-- Event Categories -->
        {% for category in event.categories.all %}
        <span class="badge bg-primary">{{category.name}}</span>
        {% endfor %}
        <!-- Event Broadcaster -->
        <h6 class="my-2">@{{ event.broadcaster.handle }}</h6>
        <!-- Event Cover Picture (if any) -->
        {% if event.get_media_count == 0 %}
        <img class="event-cover" src="{% static 'images/default_event_cover.png' %}" alt="No Event Cover Photo">
        {% else %}
        <img class="event-cover" src="{{ event.get_cover_picture.picture.url }}"
            alt="{{ event.get_cover_picture.description }}">
        {% endif %}
    </div>
    <a class="col-md-6 col-sm-12" href="{% url 'event_view' event.event_id %}">
        <!-- Event title & description -->
        <h4 class="sub-title">{{ event.title }}</h4>
        <p>{{ event.description | slice:':250'}}...</p>

        <!-- Displaying next showing (if any) -->
        <div class="row">
            {% if event.get_showings_count > 0 %}
            <div class="col-6">
                <h6 class="sub-title"><b>Next Showing</b></h6>
                <p>{{ event.get_next_showing }}</p>
            </div>
            <div class="col-6">
                <h6 class="sub-title"><b>Where</b></h6>
                <p>{{ event.get_next_showing.venue }} - {{ event.get_next_showing.city }}</p>
            </div>
            {% else %}
            <div class="col-12">
                <h6><b>No upcoming showings</b></h6>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if event.get_showings_count > 0 and event.has_ticket_listings > 0 %}
            <div class="col-6">
                <h6 class="sub-title"><b>Tickets From</b></h6>
            </div>
            <div class="col-6">
                <p>€{{ event.get_min_ticket_price.price }}</p>
            </div>
            <div class="col-12">
                <p>See event page for more details</p>
            </div>
            {% else %}
            <div class="col-12">
                <h6><b>No tickets available</b></h6>
            </div>
            {% endif %}
        </div>
    </a>
    <!-- Reviews for Event -->
    <div class="col-md-3 col-sm-12">
        <div class="my-4 mx-1">
            {% if event.get_review_count > 0 %}
            <h6 class="text-center"><b>Reviews</b></h6>
            <!-- Review Carousel -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for review in event.get_short_reviews %}
                    <div class="swiper-slide">
                        {% include 'reviews/review.html' %}
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="s-btn swiper-button-prev"></div>
                <div class="s-btn swiper-button-next"></div>
            </div>
            {% else %}
            <h6 class="text-center"><b>No reviews yet</b></h6>
            {% endif %}
        </div>
    </div>
</div>
<hr />
{% endblock %}