{% extends 'base.html' %}
{% load static %}

{% block title %}{{ event.title }}{% endblock title %}

{% comment %}
{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}
{% endcomment %}

{% block content %}
<div class="container">
    <div class="row text-light">
        <div class="col-9 mx-auto p-2">
            <div class="m-3">
                {% for category in event.categories.all %}
                    <span class="badge bg-primary">{{category.name}}</span>
                {% endfor %}
            </div>

            <div class="d-flex flex-row">
                {% if event.media.all.count == 0 %}
                    <img class="event-cover col-3" src="{% static 'images/default_event_cover.png' %}" alt="No Event Cover Photo">
                {% else %}
                    <img class="event-cover col-3" src="{{ cover_pic.picture.url }}" >
                {% endif %}
                <h1 class="my_title col-9 my-4 text-center">{{ event.title }}</h1>
            </div>

            <div class="m-4">
                <p>{{ event.description }}</p>

                <div>
                    <h2>MEDIA</h2>
                    {% for media in event.media.all %}
                        <div class="event-media">
                            <span class="elem" style="background-image: url({{ media.picture }})"></span>
                            <p>{{ media.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="col-3 text-start mx-auto">
            <h1 class="my-4">STREAMER</h1>
            <p>{{ event.streamer.username }}</p>

            <div>
                <h1 class="my-4">SHOWINGS</h1>
                {% for showing in event.showings.all %}
                <p>{{showing.location}} - {{showing.time}}</p>
                {% endfor %}
            </div>
            <div>
                <h1 class="my-4 mb-1">REVIEWS</h1>
                <div class="mb-4 text-secondary">
                    <b>Avg User Rating: </b> <span>{{ avg_rating }}/10</span>
                </div>
                {% include 'reviews/review_new.html' %}
                {% for review in reviews %}
                    {% include 'reviews/review.html' with review=review %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}