{% extends 'base.html' %}
{% load crispy_forms_tags%}

{% block metadescription %}
Upcoming Events
{% endblock %}
{% block title %}
Upcoming Events | StreamStage
{% endblock title %}

{% block content %}
<div class="event-listings-title" style="height: 100vh;">
        <!-- Listing Upcoming Events (if they have upcoming showings) -->
        {% for event in events %}
        {% if event.get_num_upcoming_showings > 0 %}

        {% include 'event_list.html' with event=event %}

        {% endif %}
        {% endfor %}
</div>
{% endblock %}