{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block metadescription %}
Update Event {{ event.title }}
{% endblock %}
{% block title %}
Update Event | StreamStage
{% endblock title %}

{% block content %}
<div>
    <h1 class="page-title">Edit Event</h1>
    <div class="d-flex content_center">
        <form class="form-layout" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" />
        </form>
    </div>
</div>
{% endblock %}
