{% load static %}
{% load crispy_forms_tags%}


{% block content %}

<div class="row my-4">
    <div class="col-9">
        <a href="{% url 'event_view' event.event_id %}">
            <div class="row">

                <div class="col-3">
                    <!-- Event Categories -->
                    {% for category in event.categories.all %}
                    <span class="badge bg-primary">{{category.name}}</span>
                    {% endfor %}
                    <!-- Event Broadcaster -->
                    <h6>@{{ event.broadcaster.handle }}</h6>
                    <!-- Event Cover Picture (if any) -->
                    {% if event.get_media_count == 0 %}
                    <img class="event-cover col-3" src="{% static 'images/default_event_cover.png' %}"
                        alt="No Event Cover Photo">
                    {% else %}
                    <img class="event-cover col-3" src="{{ cover_pic.picture.url }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <!-- Event title & description -->
                    <h4>{{ event.title }}</h4>
                    <p>{{ event.short_description }}...</p>

                    <!-- Displaying next showing (if any) -->
                    <div class="row">
                        {% if event.get_showings_count > 0 %}
                        <div class="col-6">
                            <h6 class="sub-title"><b>Next Showing</b></h6>
                            <p>{{ event.get_next_showing }}</p>
                        </div>
                        <div class="col-6">
                            <h6 class="sub-title"><b>Where</b></h6>
                            <p>{{ event.get_next_showing.city }} - {{ event.get_next_showing.country.name }}</p>
                        </div>
                        {% else %}
                        <div class="col-12">
                            <h6><b>No upcoming showings</b></h6>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- Top Review for Event -->
    <div class="col-3">
        <div class="m-4">
            {% if event.get_review_count > 0 %}
            <h6>Top Review</h6>
            {% include 'reviews/review.html' with review=event.get_top_review %}
            {% endif %}
        </div>
    </div>
</div>
<hr />
{% endblock %}