{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% load render_bundle from webpack_loader %}

{% block metadescription %}
Update Event {{ event.title }}
{% endblock %}
{% block title %}
Update Event | StreamStage
{% endblock title %}

{% block content %}
<span 
    class='config'

    data-csrf-token='{{ csrf_token }}'

    data-event-id='{{ event_id }}'

    data-get-ticket-listings='{{ api.get_ticket_listings }}'
    data-add-ticket-listing='{{ api.add_ticket_listing }}'
    data-del-ticket-listing='{{ api.del_ticket_listing }}'
></span>

<div class="row m-auto" style="max-width: 1200px">
    <h1 class="page-title">Edit Event</h1>
    <div class="col-8">
        <h1>General</h1>
        <div class="d-flex content_center">
            <form class="form-class form-layout" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <input class="btn btn-primary" type="submit" value="Update" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-4">
        <h1>The Stuff</h1>

        <div>
            <h3>Ticket Listings</h3>
            <div id="ticket-listings-panel">

            </div>
            <span id="add-ticket-listing-btn" class="btn btn-success">Add Listing</span>
        </div>

    </div>
</div>
{% render_bundle 'event_edit' %}>
{% endblock %}
