{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load render_bundle from webpack_loader %}

{% block title %}
Event | StreamStage
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/payments.css' %}">
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/events.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
{% endblock %}

{% block content %}
<main>
    <span class='config' data-csrf-token='{{ csrf_token }}' data-event-id='{{event.event_id}}'
        data-resend-verification='{{ api.resend_verification }}'
        data-remove-verification='{{ api.remove_verification }}'
        data-recent-verification='{{ api.recent_verification }}' data-add-payment='{{ api.add_payment }}'
        data-get-payments='{{ api.get_payments }}' data-remove-payment='{{ api.remove_payment }}' ,
        data-get-payment-methods='{% cross_app_reverse_tag "accounts" "get_payments" %}'
        data-add-payment-method='{% cross_app_reverse_tag "accounts" "add_payment" %}'
        data-remove-payment-method='{% cross_app_reverse_tag "accounts" "remove_payment" %}'
        data-create-payment-intent='{% cross_app_reverse_tag "accounts" "create_payment" %}'
        data-check-payment-intent='{% cross_app_reverse_tag "accounts" "check_payment" %}'
        data-create-payment='{{ api.create_payment }}' data-check-payment='{{ api.check_payment }}'
        data-get-reviews='{{ api.get_reviews }}' data-update-review='{{ api.update_review }}'
        data-delete-review='{{ api.delete_review }}' data-stripe-pub='{{ stripe_key }}'></span>
    <div class="nav-gap container">
        <!-- Update Event Button -->
        {% if can_edit %}
        {% if event.approved %}
        <a href="update/" class="text-muted">
            <button class="btn btn-primary">
                Edit Event
            </button>
        </a>
        {% else %}
        
        <span class="b text-danger"> <i class="fas fa-exclame"></i> Awaiting Approval </span>
        {% endif %}
        {% endif %}
        <!-- 
        Event Categories & Media
    -->
        <div class="row text-light">
            <div class="col-lg-3 col-md-4 col-sm-12 mx-auto p-2">
                <!-- Category -->
                <div class="mx-2 my-2">
                    {% for category in event.categories.all %}
                    <span class="badge bg-secondary">{{category.name}}</span>
                    {% endfor %}
                </div>

                <!-- Event Poster -->
                <div class="d-flex flex-row mx-2 my-4">
                    <!-- If No Media, Use Default Event Cover Image -->
                    {% if event.get_media_count == 0 %}
                    <img class="event-cover" src="{% static 'images/default_event_cover.png' %}"
                        alt="No Event Cover Photo">
                    {% else %}
                    <!-- Media Carousel -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            {% for media in event.get_media %}
                            <div class="swiper-slide">
                                <img class="event-cover" src="{{ media.picture.url }}" alt="Event Media Photo">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="s-btn swiper-button-prev"></div>
                        <div class="s-btn swiper-button-next"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- 
        Event Title & Description
    -->
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto p-2">
                <!-- Event Title -->
                <div class="mx-2 my-4">
                    <h2 class="page-title">{{ event.title }}</h2>
                </div>
                <hr>
                <!-- Event Description -->
                <div class="mx-2 my-lg-4 my-md-0">
                    {% if event.get_desc_length > 355 %}
                    <div class="show-more-elem" data-showmore-id="1">
                        <p>{{ event.description}}</p>
                    </div>
                    <div class="show-less-elem" data-showmore-id="1">
                        <p>{{ event.description | slice:':355' }}...</p>
                    </div>
                    <button type="resend" name="resend" id="resend" data-showmore-id="1" class="
                                show-more-btn
                                btn 
                                btn-primary
                                btn-sm
                                info">
                        Show More
                    </button>
                    {% else %}
                    <p>{{ event.description}}</p>
                    {% endif %}
                </div>
                <hr>
            </div>
            <!-- 
        Stream Event Button, Event Streamer & Average Rating 
    -->
            <div class="col-lg-3 col-md-12 mx-auto">
                <div class="row mx-auto">
                    {% if event.get_live_showing %}
                    <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 mx-auto">
                        <!-- Stream Event -->
                        <div class="my-lg-4 my-md-1 my-sm-1 my-xs-1">
                            <a href="{% cross_app_reverse_tag 'events' 'watch_event' showing_id=event.get_live_showing.showing_id %}">
                                <button class="btn stream-evt-btn btn-primary btn-lg">Stream Event</button>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 mx-auto">
                        <!-- Streamer Name -->
                        <div class="my-lg-4 my-md-1 my-sm-1 my-xs-1">
                            <h4 class="grad-title"><b>Streamer</b></h4>
                            <a href="">
                                <p>@{{ event.broadcaster.handle }}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 mx-auto third">
                        <!-- Overall Event Rating -->
                        <div class="my-lg-4 my-md-1 my-sm-1 my-xs-1">
                            <h4 class="w-100 grad-title"><b>Event Rating</b></h4>
                            <span class="fa fa-star {% if event.get_average_rating > 0 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if event.get_average_rating > 1 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if event.get_average_rating > 2 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if event.get_average_rating > 3 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if event.get_average_rating > 4 %} checked {% endif %}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 
        Showings & Tickets 
    -->
            <div class="row px-2">
                <div class="col-lg-6 col-md-12 mx-auto mx-2 my-lg-4 my-md-0 my-sm-2">
                    {% if event.get_showings_count > 2 %}
                    <div class="show-more-elem" data-showmore-id="2">{% include 'all_shows_tckts.html' %}</div>
                    <div class="show-less-elem" data-showmore-id="2">{% include 'next_2_shows_tckts.html' %}</div>
                    <button type="resend" name="resend" id="resend" data-showmore-id="2" class="
                                show-more-btn
                                btn 
                                btn-primary
                                btn-sm
                                info">
                        Show More
                    </button>
                    {% else %}
                    {% include 'all_shows_tckts.html' %}
                    {% endif %}
                </div>
                <!--
        Showings & Tickets END
    -->
                <!-- 
        Event Trailer
    -->
                <div class="col-lg-6 col-md-12 mx-auto mx-2 my-lg-4 my-md-0">
                    <div class="px-3">
                        <h4 class="pb-lg-3 pb-md-1 grad-title"><b>Trailer</b></h4>
                    </div>
                    <!-- If No Trailer -->
                    {% if event.get_trailer_count == 0 %}
                    <div class="text-center">
                        <p>No Trailer Available</p>
                    </div>
                    <!-- 1 Trailer -->
                    {% else %}
                    <div class="d-flex justify-content-center">
                        {% for trailer in event.get_trailer %}
                        <video class="mx-auto" width="95%" controls>
                            <source src="{{ trailer.videofile.url }}">
                            Your browser does not support the video tag.
                        </video>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- 
    Event Reviews 
-->
            <div class="row">
                <div class="col-12">
                    <div class="mx-2 my-lg-4 my-md-0">
                        <h4 class="grad-title"><b>Reviews</b></h4>
                    </div>
                    <!-- Review Carousel -->
                    <div class="swiper longSwiper">
                        <div class="swiper-wrapper">
                            <!-- Allow users to add review if authenticated -->
                            {% if user.is_authenticated and user not in event.get_review_authors %}
                            <div class="swiper-slide">
                                {% include 'reviews/review_new.html' %}
                            </div>
                            {% endif %}
                            <!-- If more reviews, display in carousel -->
                            {% if event.get_review_count > 0 %}
                            {% for review in event.get_medium_reviews %}
                            <div class=" swiper-slide">
                                {% include 'reviews/review.html' %}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="s-btn swiper-button-prev"></div>
                        <div class="s-btn swiper-button-next"></div>
                    </div>
                    {% if event.get_review_count > 0 %}
                    <a href="{% cross_app_reverse_tag 'events' 'reviews_view' event_id=event.event_id %}"
                        alt="All Reviews" class="d-flex justify-content-center">
                        <button class="my-2 btn btn-primary">
                            All Reviews for {{ event.title }}
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/static/js/events.js"></script>
{% render_bundle 'events' %}
{% endblock content %}