{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% load tags %}
{% load static %}

{% block metadescription %}
Past Events
{% endblock %}

{% block title %}
Past Events | StreamStage
{% endblock title %}

{% block head %}
<!-- Carousel css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="nav-gap">
            
            <!-- Listing Past Events (if has showings and showing dates have passed)-->
            {% for event in events %}
                {% include 'event_list.html' with event=event %}
            {% empty %}
            <div class="row mx-auto">
                <h4 class="text-center">No Past Events Available</h4>
            </div>
            {% endfor %}
        </div>

        <!-- Carousel js -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <!-- Like button & review rating js -->
        <script src="/static/js/events.js"></script>
    </main>
{% endblock %}