
{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Watch Event{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/payments.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
    <link rel="stylesheet" href="{% static 'css/watchevent.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}
<main>
    <span 
        class='config'

        data-csrf-token='{{ csrf_token }}'

        data-event-id='{{event.event_id}}'
    ></span>
    <div class="nav-gap watch-body">
        {% if error is not None %}
            {{ error }}
        {% else %}

            <div id="watch-container" class="row">
                <div id="video" class="col-9">
                    <div class="d-flex justify-content-center">
                        <video class="mx-auto" width="95%" controls>
                            <source src="https://kiver.is/knifefight.webm">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div id="live-chat" class="col-3">
                    <H1>CHAT</H1>
                    <div id="message-container">
                        <div id="messages">
                          <!--  <div class="message"><div class="msg-author">ben</div><div class="msg-body">holy moly guacamole</div><div></div>-->
                        </div>
                    </div>
                    
                    <div id="chatbox">
                        <!--<input type="text">-->
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
</main>
{% endblock content %}