{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block metadescription %}
Information about the StreamStage Team
{% endblock %}

{% block title %}
About Us | StreamStage
{% endblock %}

{% block content %}
<main>
    <div class="nav-gap px-4 mx-auto">
        <div class="col-md-3 col-12">
            <div>
                <img src="staticfiles\images\placeholder-pfp.png" alt="">
                <hr />
            </div>
            <div>
                <h2>
                    Ben Kiveris 
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatem dolorem molestias doloribus
                    fugit, sit autem dignissimos nam sed, repudiandae adipisci asperiores, reiciendis ducimus quisquam.
                    Dolorem eum consequuntur minima tempora?
                </p>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div>
                <img src="staticfiles\images\placeholder-pfp.png" alt="">
                <hr />
            </div>
            <div>
                <h2>
                    Cian McArdle
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatem dolorem molestias doloribus
                    fugit, sit autem dignissimos nam sed, repudiandae adipisci asperiores, reiciendis ducimus quisquam.
                    Dolorem eum consequuntur minima tempora?
                </p>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div>
                <img src="staticfiles\images\placeholder-pfp.png" alt="">
                <hr />
            </div>
            <div>
                <h2>
                    Grzegorz Maniak
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatem dolorem molestias doloribus
                    fugit, sit autem dignissimos nam sed, repudiandae adipisci asperiores, reiciendis ducimus quisquam.
                    Dolorem eum consequuntur minima tempora?
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}