{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block metadescription %}
Search for an event that suits your tastes & price range
{% endblock %}

{% block title %}
Search Events | StreamStage
{% endblock %}

{% block head %}
    <!-- Carousel css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
    <main class='ss_wl'>
        <div class="nav-gap px-4 mx-auto">
            <div class="m-2">

                {% if query %}
                <p class="text-center"><b><span class="sub-title">You have searched for: </span>"{{ query }}"</b></p>
                {% endif %}
            </div>
            <!-- Refine Search Options -->
            <div class="row px-2 d-flex gap-2">
                <div class="col-12 mx-auto mb-4">
                    {% include 'search_filters.html' %}
                </div>
                <hr/>

                <!-- Display Search Results -->

                {% for event in events_list %}
                    <div class="event-listing">

                            <!-- 
                                Event Broadcaster 
                                <h6 class="my-2">@{{ event.broadcaster.handle }}</h6>

                            -->

                        <div class="event-cover-container">
                            <!-- 
                                Event Cover Picture (if any) 
                            -->
                            <div class='event-title'>
                                <div class="sub-title">
                                    <h4 onclick="window.location.href = '{% cross_app_reverse_tag 'events' 'event_view' event_id=event.event_id %}'"
                                    >{{ event.title }}</h4>
                                    <p onclick="window.location.href = '{% cross_app_reverse_tag 'homepage' 'broadcaster_profile' username=event.broadcaster.handle %}'"
                                    > @{{ event.broadcaster.handle }}</p>
                                </div>
                                {% if event.description|length > 250 %}
                                    <p>{{ event.description|slice:":250" }}...</p>
                                {% else %}
                                    <p>{{ event.description }}</p>
                                {% endif %}


                                <div class='h-100 w-100 d-flex flex-wrap justify-content-end align-items-end gap-1'>
                                    {% for category in event.categories.all %}
                                        <span class="badge bg-primary">{{category.name}}</span>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class='event-gradient'></div>

                            {% if event.get_media_count == 0 %}
                                <div 
                                    class="event-cover" 
                                    style="background-image: url({% static 'images/default_event_cover.png' %});"
                                    alt="No Event Cover Photo"></div>
                            {% else %}
                                <div 
                                    class="event-cover" 
                                    style="background-image: url({{ event.get_cover_picture.picture.url }});"
                                    alt="Event Cover Photo"></div>
                            {% endif %}

                        </div>


                        <div class="event-details">

                            <!-- 
                                Displaying next showing (if any) 
                            -->
                            <div class="w-100 text-center event-showings">
                                {% if event.get_showings_count > 0 %}
                                    <h2>Next Showing</h2>
                                    <p>{{ event.get_next_showing }}</p>
                                {% else %}
                                    <p>No showings available</p>
                                {% endif %}
                            </div>


                            <div class='w-100 text-center event-tickets'>
                                {% if event.get_showings_count > 0 and event.has_ticket_listings > 0 %}
                                    <p> Tickets starting from <span>€{{ event.get_min_ticket_price.price }}</span></p>
                                {% else %}
                                    <p>No tickets available</p>
                                {% endif %}
                            </div>

                        </div>


                        <!-- 
                            Reviews for Event 
                        -->
                        <div class="
                            event-reviews
                            d-flex
                            h-100
                        ">
                            {% if event.get_review_count > 0 %}
                                <!-- 
                                    Review Carousel 
                                -->
                                <swiper-container class="swiper swiper-review" navigation="true">
                                    {% for review in event.get_short_reviews %}
                                        <swiper-slide class="swiper-slide">
                                            {% include 'reviews/review_min.html' %}
                                        </swiper-slide>
                                    {% endfor %}
                                </swiper-container>

                            {% else %}
                                <!-- 
                                    No Reviews
                                -->
                                <h6 class="text-center"><b>No reviews yet</b></h6>
                            {% endif %}
                        </div>


                    </div>

                    {% empty %}
                    <div class="row mx-auto">
                        <p class="text-center">No results found.</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Paginator -->
        <!-- <div class="mx-auto">
                {% if is_paginated %}
                <hr>
                <div class="text-center">
                    {% for pg in paginator.page_range %}
                    <a href="?q={{query}}&cat={{category.name}}&b={{broadcaster}}&sd={{start_date}}&ed={{end_date}}&v={{venue}}&c={{city}}&co={{country}}&u={{upcoming}}&ip={{in_person}}&s={{sort_by}}&mip={{min_price}}&map={{max_price}}&page={{pg}}" class="btn btn-light btn-sm 
                        {% if events.number == pg %}active{% endif %}">{{pg}}
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <br>
        </div> -->

        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
        <script src="/static/js/events.js"></script>
    </main>
{% endblock %}