{% load tags %}

<div class="mx-auto">
    <form 
        action="{% cross_app_reverse_tag 'search' 'searchResult' %}" 
        method="get"
        class="d-flex flex-column justify-content-center align-items-center gap-2"
    >   

        <div class='filter-menu w-100 d-flex justify-content-center align-items-center gap-2'>
            <!-- 
                New Search 
            -->
            <div class="w-50">
                <input 
                    class="form-control filter" 
                    type="search" 
                    placeholder="New Search..." 
                    aria-label="Search"
                    name="q"
                    value="{% if query %}{{ query }}{% endif %}">
            </div>


            <!-- 
                Filter By Broadcaster 
            -->
            <div class="w-25">
                <input 
                    class="form-control filter" 
                    type="search" 
                    placeholder="Search Broadcasters" 
                    aria-label="Broadcaster"
                    name="b" 
                    value="{% if broadcaster %}{{ broadcaster }}{% endif %}">
            </div>
            <!-- 
                Events with in-person tickets only 
            -->
            <div class="w-25">
                {% if in_person %} 
                    <input 
                        type="checkbox" 
                        name="ip" 
                        value="y" 
                        checked>
                {% else %} 
                    <input 
                        type="checkbox" 
                        name="ip" 
                        value="y"> 
                {% endif %}
                <label for="ip">
                    In-Person Tickets Available
                </label>
            </div>
        </div>


        <div class='filter-menu w-100 d-flex justify-content-center align-items-center gap-2'>
            <div class='filter-menu inner w-100 d-flex justify-content-center align-items-center gap-2'>
                <div class='filter-menu w-100 d-flex justify-content-center align-items-center gap-2'>
                    <!-- 
                        Filter By Category 
                    -->
                    <div class="w-100 h-100">
                        <button 
                            class="filter-dropdown filter text-start"
                            href="#categoryfilter" 
                            role="button"
                            type="button"
                            data-bs-toggle="dropdown" 
                            aria-expanded="false"
                        >
                            <p><i class="fa-solid fa-caret-down px-2"></i>Category</p>
                        </button>

                        <div 
                            class="dropdown-menu" 
                            id="categoryfilter"
                        >
                            <select 
                                class="form-select h-100 filter" 
                                style="background-color: var(--theme-color)!important"
                                name="cat"
                            >
                                <option value="">None</option>

                                {% for cat in categories %}
                                    {% if cat.name == category_name %}
                                        <option value="{{ cat.name }}" selected="selected">{{ cat.name }}</option>
                                    {% else %}
                                        <option value="{{ cat.name }}">{{ cat.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <!-- 
                        Filter By Price 
                    -->
                    <div class="w-100 h-100">
                        <!-- Dropdown Button -->
                        <button 
                            class="filter-dropdown filter text-start"
                            href="#pricefilter" 
                            role="button"
                            type="button"
                            data-bs-toggle="dropdown" 
                            aria-expanded="false"
                        >
                            <p><i class="fa-solid fa-caret-down px-2"></i>Price</p>
                        </button>


                        <!-- Dropdown Menu -->
                        <div 
                            class="dropdown-menu" 
                            id="pricefilter"
                        >
                            <div id="price-filters">
                                <div class="d-flex justify-content-center align-items-center gap-2 mb-2">
                                    <!-- Filter By Price Range -->
                                    <div class='d-flex w-100 flex-column'>
                                        <label class="form-label w-100" for="min-price">From</label>
                                        <input 
                                            class="w-100 dropdown-input"
                                            type="number" 
                                            name="mip" 
                                            style="background-color: var(--theme-color)!important"
                                            placeholder="€1"
                                            min="0"
                                            {% if min_price %}value="€{{min_price}}"{% endif %}>
                                    </div>

                                    <div class='d-flex w-100 flex-column'>
                                        <label class="form-label w-100" for="max-price">To</label>
                                        <input 
                                            class="w-100 dropdown-input"
                                            type="number"
                                            name="map" 
                                            style="background-color: var(--theme-color)!important"
                                            placeholder="€1000"
                                            min="0"
                                            {% if max_price %}value="€{{max_price}}"{% endif %}>
                                    </div>
                                </div>
                                    
                                <!-- Sort By Price Asc, Price Desc -->
                                <div class='w-100'>
                                    <label class="form-label" for="sort-by-price">Sort By</label>

                                    <select 
                                        class="form-select " name="s"
                                        style="background-color: var(--theme-color)!important"
                                    >
                                        <option value="none">None</option>
                                        <option value="price-asc" {% if sort_by == 'price-asc' %}selected{% endif %}>Lowest Priced First</option>
                                        <option value="price-desc" {% if sort_by == 'price-desc' %}selected{% endif %}>Highest Priced First</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    


                <div class='filter-menu w-100 d-flex justify-content-center align-items-center gap-2'>


                    <!-- Filter By Location -->
                    <div class="w-100 h-100">

                        <!-- Dropdown Button -->
                        <button 
                            class="filter-dropdown filter text-start"
                            href="#locationfilter" 
                            role="button"
                            type="button"
                            data-bs-toggle="dropdown" 
                            aria-expanded="false">
                            <p><i class="fa-solid fa-caret-down px-2"></i>Location</p>
                        </button>


                        <div 
                            class="dropdown-menu" 
                            id="locationfilter"
                        >
                            <div id="location-filters d-flex justify-content-center align-items-center gap-2">

                                <!-- 
                                    Filter By Venue 
                                -->
                                <input 
                                    class="form-control" 
                                    type="search" 
                                    placeholder="Venue" 
                                    aria-label="Venue" 
                                    name="v"
                                    style="background-color: var(--theme-color)!important"
                                    value="{% if venue %}{{ venue }}{% endif %}">


                                <!-- 
                                    Filter By City 
                                -->
                                <input 
                                    class="form-control" 
                                    type="search" 
                                    placeholder="City" 
                                    aria-label="City" 
                                    name="c"
                                    style="background-color: var(--theme-color)!important"
                                    value="{% if city %}{{ city }}{% endif %}">


                                <!-- 
                                    Filter By Country 
                                -->
                                <input 
                                    class="form-control" 
                                    type="search" 
                                    placeholder="Country" 
                                    aria-label="Country" 
                                    name="co"
                                    style="background-color: var(--theme-color)!important"
                                    value="{% if country %}{{ country }}{% endif %}">
                            </div>
                        </div>
                    </div>


                    <!-- Filter By Date -->
                    <div class="w-100 h-100">

                        <!-- Dropdown Button -->
                        <button 
                            class="filter-dropdown filter text-start"
                            href="#datefilter" 
                            role="button"
                            type="button"
                            data-bs-toggle="dropdown" 
                            aria-expanded="false"
                        >
                            <p><i class="fa-solid fa-caret-down px-2"></i>Date</p>
                        </button>


                        <div 
                            class="dropdown-menu" 
                            id="datefilter"
                        >

                            <!-- Filter By Date Range -->
                            <div class="d-flex justify-content-center align-items-center gap-2 mb-2">
                                <div class='d-flex w-100 flex-column'>
                                    <label class="form-label w-100" for="sd">From</label>
                                    <input 
                                        class="w-100 dropdown-input"
                                        type="datetime" 
                                        name="sd" 
                                        id="sd"
                                        style="background-color: var(--theme-color)!important"
                                        placeholder="(dd/mm/yyyy)"
                                        {% if start_date %} value="{{ start_date }}" {% endif %}>
                                </div>

                                <div class='d-flex w-100 flex-column'>
                                    <label class="form-label w-100" for="ed">To</label>
                                    <input 
                                        class="w-100 dropdown-input"
                                        type="datetime"
                                        name="ed" 
                                        id="ed"
                                        style="background-color: var(--theme-color)!important"
                                        placeholder="(dd/mm/yyyy)"
                                        {% if end_date %} value="{{ end_date }}" {% endif %}>
                                </div>
                            </div>
                                

                            <!-- Upcoming Events only -->
                            <div class="d-flex w-100" id="datefilter">
                                {% if upcoming %} <input type="checkbox" name="u" value="y" checked>
                                {% else %} <input type="checkbox" name="u" value="y"> {% endif %}
                                <label for='u' class="d-block w-50"> 
                                    &nbsp; Upcoming Events Only
                                </label>
                            </div>

                            <!-- Today's Events only -->
                            <div class="d-flex w-100" id="datefilter">
                                {% if todays_events %} <input type="checkbox" name="t" value="y" checked>
                                {% else %} <input type="checkbox" name="t" value="y"> {% endif %}
                                <label for='t' class="d-block w-50"> 
                                    &nbsp; Today's Events Only
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 
                    Apply Filters / Reset Search
                -->
                <div class='filter-menu d-flex w-100 gap-2'>
                    <!-- Apply Filters -->
                    <div class="w-100">
                        <button 
                        class="btn btn-primary w-100 info"
                        >Apply</button>
                    </div>

                    <!-- Clear Filters -->
                    <a class="w-100" href="?">
                        <button type='button' 
                        class="btn btn-danger w-100 error"
                        >Clear</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>