{% extends "base.html" %}
{% load static %}

{% block title %}
    SRR Visualizer
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/server_manager/srr_visualizer.css' %}">
{% endblock %}

{% block content %}
    <span id='config'
        data-csrf-token = '{{ csrf_token }}'
        data-get-ssr-tree = '{{ get_srr_tree }}'
    ></span>
    
    <div id='app' class='w-100 h-100'></div>
    <div id='ui' class='w-100 h-100'>

        <!-- Bottom bar -->
        <article class='
            zoom
            d-flex
            justify-content-center
            w-100
        '>
            <div class='
                d-flex 
                justify-content-between
                align-items-center
                gap-3
            '>
                <!--Zoom + -->
                <button class='btn btn-sm col-2' id='zoom-in'>
                    <i class='fas fa-search-plus'></i>
                </button>

                <!--Zoom Level-->
                <input type='text' class='
                    form-control
                    form-control-sm
                    text-center
                    text-light
                    bg-dark
                    border-0
                ' id='zoom-level' min='0' max='1000' value='100%'>

                <!--Zoom - -->
                <button class='btn btn-sm col-2' id='zoom-out'>
                    <i class='fas fa-search-minus'></i>
                </button>
            </div>
        </article>

    </div>

    <script src="{% static 'js/srr_visualizer_bin.js' %}"></script>
{% endblock %}