<div class='car'>
    <!-- Carousel header -->
    <div class='
        d-flex
        align-items-center
        carousel-header
        w-100
        gap-3
    '>
        <!-- Title -->
        <div class='
            d-flex
            justify-content-center
            align-items-center
            carousel-header-title
        '>
            <div>
                <h1>Carousel</h1>
            </div>
        </div>
    </div>
    
    <!-- Carousel -->
    <div 
        id='carousel'
        data-is-hidden='true'
        class='
            w-100
            d-flex
            justify-content-center
            align-items-center
            carousel
    '>
        <!-- Button left -->
        <div class='
            d-flex
            justify-content-start
            align-items-center
            carousel-button
            carousel-button-left
        '>
            <div>
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>

        <!-- Button right -->
        <div class='
            d-flex
            justify-content-end
            align-items-center
            carousel-button
            carousel-button-right
        '>
            <div>
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>

        <!-- Carousel content -->
        <div class='carousel-content'>
        </div>

        <!-- Carousel indicator -->
        <div class='carousel-indicator'>
            <div> <div
                style='width: 0%;'
                class='scroll-indicator'
            ></div> </div>
        </div>
    </div>
</div>