<!-- Carousel -->
<div 
id='carousel'
data-is-hidden='true'
class='
    w-100
    d-flex
    justify-content-center
    align-items-center
    carousel
'>
    <!-- Button left -->
    <div class='
        d-flex
        justify-content-start
        align-items-center
        carousel-button
        carousel-button-left
    '>
        <div>
            <i class="fas fa-chevron-left"></i>
        </div>
    </div>

    <!-- Button right -->
    <div class='
        d-flex
        justify-content-end
        align-items-center
        carousel-button
        carousel-button-right
    '>
        <div>
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>

    <!-- Carousel content -->
    <div class='carousel-content'>
    </div>
</div>