{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load tags %}

{% block metadescription %}
    
{% endblock %}

{% block title %}
    StreamStage - Main Page
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <!-- StreamStage font -->
    <link rel="stylesheet" href="{% static 'fonts/lust/lust.css' %}">
{% endblock %}

{% block content %}
    <!-- Logo -->
    <div 
        id='logo-loader'
        state='finished'
    >
        {% include 'email/logo.svg' %}
    </div>

    <!-- Showcase -->
    {% comment %} {% include 'showcase.html' %} {% endcomment %}
    <div class="swiper showcase-container showcase w-100">
        <div class="swiper-wrapper">
            {% for featured in features %}
                <div 
                    class="showcase-slide w-100 swiper-slide"
                    onclick="window.location.href = '{% cross_app_reverse_tag "events" "event_view" event_id=featured.event_id %}'"
                >
                    <div 
                        class = 'showcase-cover'
                        {% if event.get_media_count == 0 %}
                            style="background-image: url({% static 'images/default_event_cover.png' %});"
                        {% else %}
                            style="background-image: url({{ featured.get_cover_picture.picture.url }});"
                        {% endif %}
                    ></div>

                    
                    <div
                    class='
                        showcase-big 
                        w-100
                        d-flex
                        justify-content-center
                        align-items-center
                    '>
                        <div class='showcase-inner'>
                            <!-- 
                                This is going to be the inner showcase
                                Where the text, buttons etc will be
                                placed in the bottom left corner.
                            -->
                            <div class='
                                w-100
                                h-100
                                d-flex
                                justify-content-start
                                align-items-end
                                p-2
                            '>
                                <div>
                                    <h1 data-sci-elm='title'>
                                        {{ featured.title }}
                                    </h1>
                                    
                                    <div data-sci-elm='desc'>

                                        <!-- Streamer details -->
                                        <div class='
                                            d-flex
                                            gap-2
                                            flex-wrap
                                            align-items-center
                                        '>
                                            <!-- PFP -->
                                            <div 
                                                class='showcase-pfp'
                                            >
                                                <img 
                                                    data-skeleton='image'
                                                    src='{{ featured.broadcaster.get_picture }}' 
                                                    alt=''
                                                >
                                            </div>

                                            <!-- View count -->
                                            <div class='thumbnail-view-count'>
                                                <p 
                                                    class='skeleton m-0'
                                                    data-elm='view-count'
                                                    data-skeleton='text'
                                                > 1.3K views</p>
                                            </div>

                                            <!-- Date -->
                                            <div class='thumbnail-date d-flex gap-2'>
                                                <p 
                                                    class='skeleton m-0'
                                                    data-elm='date-vod'
                                                    data-skeleton='text'
                                                ></p>

                                                <p 
                                                    class='skeleton m-0'
                                                    data-elm='date-live'
                                                    data-skeleton='text'
                                                >NOW</p>

                                                <!-- DOT -->
                                                <div class='thumbnail-dot'>
                                                    <i class="fa-solid fa-circle"></i>
                                                </div>
                                            </div>

                                        </div>
                                        
                                        <p class='description'>
                                            {{ featured.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <!--
                                This is the tags at the top
                            -->
                            <div class='
                                w-100
                                h-100
                                d-flex
                                justify-content-end
                                align-items-end
                                pb-2
                                px-2
                            '>
                                <div class='
                                    d-flex
                                    gap-2
                                    flex-wrap
                                    tags
                                '>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


    <!-- Thumbnail -->
    {% include 'thumbnail.html' %}
    {% include 'carousel.html' %}
    
    <!-- Main -->
    <main class='showcase-main'>
        <!-- Featured -->
        <!-- Carousel -->
        <div id='c1'></div>
        <div id='c2' class='car'></div>
        <div id='c3' class='car'></div>

        {% for categorie in categories %}
            <div 
                id='c-{{ categorie.category.id }}' 
                class='car' 
                data-category-id='{{ categorie.category.id }}'
                data-category='{{ categorie.category.name }}'
                data-search-url='{% cross_app_reverse_tag "search" "searchResult" %}'
            >
                {% for event in categorie.events %}
                    <span
                        data-id='{{ event.id }}'
                        data-is-live='{{ event.is_event_live }}'
                        data-title='{{ event.title }}'
                        data-description='{{ event.description }}'
                        data-thumbnail='{{ event.thumbnail }}'
                        data-streamer-id='{{ event.broadcaster.id }}'
                        data-streamer-name='{{ event.thumbnail }}'
                        data-earliest-date='{{ event.earliest_showing.date }}'
                        data-streamer-pfp='{{ event.broadcaster.get_picture }}'
                    ></span>
                {% endfor %}
            </div>
        {% endfor %}
    </main>

    <!-- Js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    {% render_bundle 'homepage' %}

    <!-- Initialize Swiper -->
    <script>
        new Swiper(".showcase-container", {
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            autoplay: {
                delay: 5000,
            },
        });
  </script>
{% endblock %}