{% extends "email/base.html" %}

{% block content %}
    <style>
        .container {
            width: 90%;
            max-width: 600px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .container a {
            color: var(--accent-color);
            text-decoration: none;
        }

        .data {
            display: flex;
            flex-direction: column;
        }
        .data > div { width: 100%; display: flex; }
        .data h2, .data p { width: 50%; }

        .data h2 {
            font-weight: bold;
            font-size: 1.1rem;
            margin: 0;
            padding: 0.25rem;
        }

        .data p {
            margin: 0;
            text-align: right;
            padding: 0.5rem;
        }

        .data div:nth-child(odd) {
            background-color: #00000015;
            border-radius: 0.25rem;
        }
    </style>

    <div class='container'>
        <p>Hi {{ user.cased_username }},</p>
        <p>
            Just checking in, we noticed that <strong>"you"</strong> just logged in to your account,
            and we wanted to make sure that it was <strong>"you"</strong> who's done this on purpose.
        </p>

        <p>
            If this was not you, please change your password immediately and add
            two-factor authentication to your account (if you haven't already), you 
            can do this by clicking the button below.
        </p>

        <a 
            href='https://me.streamstage.co/reset-password'
            class='btn'
        >Reset Password</a>

        <p>
            If you have any questions, please feel free to contact us <a href='mailto:{{ support_email }}'>here</a>.
        </p>
    </div>
{% endblock %}