{% extends "email/base.html" %}

{% block content %}
    <style>
        .container {
            width: 90%;
            max-width: 600px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .container a {
            color: var(--accent-color);
            text-decoration: none;
        }

        .data {
            display: flex;
            flex-direction: column;
        }
        .data > div { width: 100%; display: flex; }
        .data h2, .data p { width: 50%; }

        .data h2 {
            font-weight: bold;
            font-size: 1.1rem;
            margin: 0;
            padding: 0.25rem;
        }

        .data p {
            margin: 0;
            text-align: right;
            padding: 0.5rem;
        }

        .data div:nth-child(odd) {
            background-color: #00000015;
            border-radius: 0.25rem;
        }
    </style>

    <div class='container'>
        <p>Hi {{ user.cased_username }},</p>
        <p>
            Just checking in, you've just used one of your MFA recovery codes,
            you have <strong>{{ data }}</strong> recovery codes left.
        </p>

        <p>
            Please consider removing MFA and re adding it to generate new recovery codes.
        </p>
    
        <a 
            href='https://me.streamstage.co/reset-password'
            class='btn'
        >Reset Password</a>

        <p>
            If you did not request this, please reset your password immediately, if any 
            issues arise please contact us at <a href='mailto:{{ support_email }}'>here</a>,
            Please provide the above information or the email id.
        </p>
    </div>
{% endblock %}