{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block metadescription %}
    Manage applications for StreamStage
{% endblock %}

{% block title %}
    Manage Applications - StreamStage
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
{% endblock %}

{% block content %}
    
    <div class = '
        container 
        mt-4
        d-flex
        justify-content-center
        align-items-center
    '>

        <div class = '
            size-limiter
        '>
            <div>
                <div class = '
                    row 
                    g-0
                    main-content
                '>
                    <main>
                        <div class = "
                            card-body 
                            text-light
                            smoother
                        
                        ">

                            <!-- Header -->
                            <div class="
                                mb-5
                                justify-content-start
                            ">
                                <!-- Header -->
                                <h1 class="
                                    fw-bold 
                                    w-100
                                ">Application Management</h1>

                                <!-- Slogan -->
                                <p class="
                                    text-muted
                                ">
                                    Manage applications for StreamStage
                                </p>
                            </div>

                    

                            <article class='panel' data-panel-type='email-wait'>
                                <div class="
                                    text-center
                                ">  
                                    <hr>
        
                                    <div class="w-100">
                                        <p>Streamer</p>
                                        <div class="application-preview">
                                            {% if streamer_apps.count == 0 %}
                                                No pending applications!
                                            {% endif %}
                                            {% for application in streamer_apps %}
                                                <div class='w-100'>
                                                    <p class="identifier float-start">#{{application.application_id}}</p>
                                                    <p>@{{application.applicant.username}}</p>
                                                    <a href="{% url 'review_streamer_application' application.application_id %}" class="float-end">Review</a>                        
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <hr>
    
                                    <div class="w-100">
                                        <p>Broadcasters</p>
                                        <div class="application-preview">
                                            {% if broadcaster_apps.count == 0 %}
                                                No pending applications!
                                            {% endif %}
                                            {% for application in broadcaster_apps %}
                                                <div class='w-100'>
                                                    <p class="identifier float-start">#{{application.application_id}}</p>
                                                    <p>@{{application.broadcaster.handle}}</p>
                                                    <a href="{% url 'review_broadcaster_application' application.application_id %}" class="float-end">Review</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="w-100">
                                        <p>Events</p>
                                        <div class="application-preview">
                                            {% if event_apps.count == 0 %}
                                                No pending applications!
                                            {% endif %}
                                            {% for application in event_apps %}
                                            <div class='w-100'>
                                                <p class="identifier float-start">#{{application.application_id}}</p>
                                                <p>@{{application.applicant.username}}</p>
                                                <a href="{% url 'review_event_application' application.application_id %}" class="float-end">Review</a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </article>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
