{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block metadescription %}
    Manage applications for StreamStage
{% endblock %}

{% block title %}
    Manage Applications - StreamStage
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    
    <div class = '
        container 
        mt-4
        d-flex
        justify-content-center
        align-items-center
    '>

        <div class = '
            size-limiter
        '>
            <div>
                <div class = '
                    row 
                    g-0
                    main-content
                '>
                    <main>
                        <div class = "
                            card-body 
                            text-light
                            smoother
                        
                        ">

                            <!-- Header -->
                            <div class="
                                mb-5
                                justify-content-start
                            ">
                                <!-- Header -->
                                <h1 class="
                                    fw-bold 
                                    w-100
                                ">Application Management</h1>

                                <!-- Slogan -->
                                <p class="
                                    text-muted
                                ">
                                    Manage applications for StreamStage
                                </p>
                            </div>

                    

                            <article class='panel' data-panel-type='email-wait'>
                                <div class="
                                    text-center
                                ">
                                    <p class='
                                        mb-4
                                        fs-5
                                    '>
                                        <div class="col-4">
                                            <b>Streamer</b>
                                            <div class="application-preview">
                                                {% if streamer_apps.count == 0 %}
                                                    No pending applications!
                                                {% endif %}
                                                {% for application in streamer_apps %}
                                                    <div>
                                                        <p class="identifier float-start">#{{application.application_id}}</p>
                                                        <b class="p-2">{{application.applicant.username}}</b>
                                                    </div>
                                                    <div>
                                                        <p>{{application.submission_statement}}</p>
                                                    </div>
                                                    <div style="height:1em">
                                                        <a href="{% url 'review_streamer_application' application.application_id %}" class="float-end">Review</a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <b>Broadcasters</b>
                                            <div class="application-preview">
                                                {% if broadcaster_apps.count == 0 %}
                                                    No pending applications!
                                                {% endif %}
                                                {% for application in broadcaster_apps %}
                                                    <div>
                                                        <p class="identifier float-start">#{{application.application_id}}</p>
                                                        <b class="p-2">@{{application.broadcaster.handle}}</b>
                                                    </div>
                                                    <div>
                                                        <p>{{application.submission_statement}}</p>
                                                    </div>
                                                    <div style="height:1em">
                                                        <a href="{% url 'review_broadcaster_application' application.application_id %}" class="float-end">Review</a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <b>Events</b>
                                            <div class="application-preview">
                                                {% if event_apps.count == 0 %}
                                                    No pending applications!
                                                {% endif %}
                                                {% for application in event_apps %}
                                                <div>
                                                    <p class="identifier float-start">#{{application.application_id}}</p>
                                                    <b class="p-2">{{application.applicant.username}}</b>
                                                </div>
                                                <div>
                                                    <p>{{application.submission_statement}}</p>
                                                </div>
                                                <div style="height:1em">
                                                    <a href="{% url 'review_event_application' application.application_id %}" class="float-end">Review</a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </article>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
