{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block metadescription %}
    Event up to become a broadcaster on StreamStage.
{% endblock %}

{% block title %}
    Review application - StreamStage
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
{% endblock %}

{% block content %}
    
    <div class = '
        container 
        mt-4
        d-flex
        justify-content-center
        align-items-center
    '>

        <div class = '
            size-limiter
        '>
            <div>
                <div class = '
                    row 
                    g-0
                    main-content
                '>
                    <main>
                        <div class = "
                            card-body 
                            text-light
                            smoother
                        ">

                            <!-- Header -->
                            <div class="
                                mb-5
                                justify-content-start
                            ">
                                <!-- Header -->
                                <h1 class="
                                    fw-bold 
                                ">Stream Stage</h1>

                                <!-- Slogan -->
                                <p class="
                                    text-muted
                                ">
                                    <p>Streamer Application <b>#{{app.application_id}}</b>, submitted by Member <b>@{{app.applicant.username}}</b></p>
                                </p>
                            </div>

                    

                            <article class='panel' data-panel-type='email-wait'>
                                <div class="
                                    text-center
                                ">  

                                    <label class='mt-2 w-100 text-start' for="submission-statment">Statement</label>
                                    <textarea class="form-control" id="submission-statment" rows="3" readonly>{{app.submission_statement}}</textarea>

                                    <p class='
                                        mb-4
                                        fs-5
                                    '>
                                        
                                        {% if app.status == "A" %}
                                            <p class='mt-2' style='color: green'>This application has been approved by <b>{{ app.processed_by.username }}</b></p>
                                        {% elif app.status == "R" %}
                                            <p class='mt-2' style='color: red'>This application has been rejected by <b>{{ app.processed_by.username }}</b></p>
                                        {% else %}
                                        
                                        <form class="" action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="d-flex content_center my-4 btn-group">
                                                <button class="btn btn-success success" name="approve" type="submit">Approve</button>
                                                <button formnovalidate class="btn btn-danger error" name="reject" type="submit">Reject</button>
                                            </div>
                                        </form>
                                        {% endif %}
                                    </p>
                                </div>
                                <script>
                                    // -- Get .errorlist from form
                                    const errorlist = document.querySelector('.errorlist');

                                    // -- If there is an error, move it out of the form
                                    if (errorlist) {
                                        const clone = errorlist.cloneNode(true);
                                        errorlist.remove();

                                        const panel = document.querySelector('.panel');
                                        panel.insertBefore(clone, panel.firstChild);
                                    }
                                </script>
                            </article>


                            <!-- Divider -->
                            <hr>

                            <div class="
                                text-center
                                text-muted
                            ">

                                <!-- Tos, Privacy policy -->
                                <p>
                                    By proceeding with the application proccess, you acknowledge and agree to abide by the
                                    <a href='{% cross_app_reverse_tag 'StreamStage' 'render_terms' %}'>Terms of Service</a> and 
                                    <a href='{% cross_app_reverse_tag 'StreamStage' 'render_privacy' %}'>Privacy Policy</a>.
                                </p>

                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
