{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block metadescription %}
    Register up to become a broadcaster on StreamStage.
{% endblock %}

{% block title %}
    Broadcaster Application - StreamStage
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
{% endblock %}

{% block content %}
    
    <div class = '
        container 
        mt-4
        d-flex
        justify-content-center
        align-items-center
    '>

        <div class = '
            size-limiter
        '>
            <div>
                <div class = '
                    row 
                    g-0
                    main-content
                '>
                    <main>
                        <div class = "
                            card-body 
                            text-light
                            smoother
                        ">

                            <!-- Header -->
                            <div class="
                                mb-5
                                justify-content-start
                            ">
                                <!-- Header -->
                                <h1 class="
                                    fw-bold 
                                ">Stream Stage</h1>

                                <!-- Slogan -->
                                <p class="
                                    text-muted
                                ">
                                    Broadcaster Application
                                </p>
                            </div>

                    

                            <article class='panel' data-panel-type='email-wait'>
                                <div class="
                                    text-center
                                ">
                                    <p class='
                                        mb-4
                                        fs-5
                                    '>
                                        <form class="form-layout" action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}

                                            <div class="d-flex content_center my-4 button-group">
                                                <button class="btn btn-success success" name="next" type="submit">Next</button>
                                                <button formnovalidate class="btn btn-secondary warning" name="skip" type="submit">Skip</button>
                                            </div>
                                        </form>
                                    </p>
                                </div>
                                <script>
                                </script>
                            </article>


                            <!-- Divider -->
                            <hr>

                            <div class="
                                text-center
                                text-muted
                            ">

                                <!-- Tos, Privacy policy -->
                                <p>
                                    By proceeding with the application proccess, you acknowledge and agree to abide by the
                                    <a href='{% cross_app_reverse_tag 'StreamStage' 'render_terms' %}'>Terms of Service</a> and 
                                    <a href='{% cross_app_reverse_tag 'StreamStage' 'render_privacy' %}'>Privacy Policy</a>.
                                </p>

                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
