{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags%}

{% block metadescription %}
Edit Showing for {{ event.title}}
{% endblock %}
{% block title %}
Edit Showing | StreamStage
{% endblock title %}

{% block content %}
<div class="m-4 p-4 content-center">
    <h1 class="my-4 text-center">Edit Showing</h1>
    <form class="form-layout" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
    </form>
</div>
{% endblock %}