{% load render_bundle from webpack_loader %}

{% block content %}
<!--
    My Broadcasters Panel
-->
<article class='panel' data-panel-type='my_broadcasters' data-panel-status='' style="max-width:1000px; margin:auto">
    <div class="nav-gap">
        <form id="bc-update-form" class="form-class form-layout" action="" method="POST" enctype="multipart/form-data" style="display: none; max-width: 900px;">
            <div class="d-flex flex-column">
                <div class="mb-5 d-flex justify-content-center profile-picture-banner">
                    <!-- Banner -->
                    <div class="profile-banner">
                        <div class="profile-banner-img">
                            <img id='banner-img'>
                        </div>
                    </div>
                    <!-- Profile picture -->
                    <img alt="Profile picture" class="profile-picture">
                </div>
                <div class="">
                    <div id="div_id_name" class="mb-3">
                        <label for="id_name" class="form-label requiredField">Name<span class="asteriskField">*</span> </label>
                        <input type="text" name="name" maxlength="32" class="textinput textInput form-control" required="" id="id_name">
                    </div>
                    <div id="div_id_biography" class="mb-3">
                        <label for="id_biography" class="form-label requiredField">Biography<span class="asteriskField">*</span> </label>
                        <textarea name="biography" cols="40" rows="10" maxlength="512" class="textarea form-control" required="" id="id_biography"></textarea>
                    </div>
                </div>
            </div>
            <button class="update-broadcaster-btn btn btn-success" type="submit">Save Broadcaster</button>
            <a class="cancel-update btn btn-danger" type="submit">Cancel</a>
        </form>

        <div class="mb-5 justify-content-start">
            <h1 class="fw-bold">My Broadcasters</h1>
            <p class="text-muted">Manage broadcaster profiles that you are authorized to edit.</p>
            <div id="broadcaster-list"></div>
        </div>
    </div>
</article>

{% endblock %}