{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block metadescription %}
    Sign in and start streaming.
{% endblock %}

{% block title %}
    Login - StreamStage
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <span
        class='config'
        data-page='login'
        data-csrf-token='{{ csrf_token }}'
        data-token-url='{{ token }}'
        data-get-token-url='{{ get_token }}'
        data-register-url='{{ register }}'
        data-login-url='{{ login }}'

        data-recent-verification='{{ email_recent }}'
        data-email-verify='{{ email_verify }}'
        data-resend-verification='{{ email_resend }}'

        data-add-payment='{{ add_payment }}'
        data-get-payments='{{ get_payments }}'
        data-remove-payment='{{ remove_payment }}'
    >
    </span>

    </div>
    
    <div class = '
        container 
        mt-4
        d-flex
        justify-content-center
        align-items-center
    '>

        <div class = '
            size-limiter
        '>
            <div class = '
                rounded
            '>
                <div class = '
                    row 
                    g-0
                    main-content
                '>
                    <main>
                        <div class = "
                            card-body 
                            rounded
                            p-xxl-5
                            p-xl-5
                            p-lg-5
                            p-md-3
                            p-sm-3
                            p-2
                            text-light
                            smoother
                        ">

                            <!-- Header -->
                            <div class="
                                mb-5
                                justify-content-start
                            ">
                                <!-- Header -->
                                <h1 class="
                                    fw-bold 
                                ">Stream Stage</h1>

                                <!-- Slogan -->
                                <p class="
                                    text-muted
                                ">
                                    Dont ever miss out on another live event ever again.
                                </p>
                            </div>

                            <div class='login-area-panels'>
                                <article class='h-100 login-area-panel' data-panel-type='login'>

                                    <!-- Email input -->
                                    <div class="mb-4">
                                        <label class="form-label" for="emailorusername">Email or Username</label>
                                        <input name="emailorusername" id="emailorusername" placeholder="you@StreamStage.co" class="
                                            form-control 
                                            form-control-lg
                                            inp
                                        ">
                                    </div>

                                    <!-- Password input -->
                                    <div class="mb-4">
                                        <label class="form-label" for="password">Password</label>
                                        <input name="password" id="password" placeholder="Super Secret Password" type="password" class="
                                            form-control 
                                            form-control-lg
                                            inp
                                        ">
                                    </div>

                                    <!-- Buttons -->
                                    <div class="
                                        d-flex 
                                        justify-content-lg-start
                                        justify-content-center
                                        flex-column
                                        mb-5
                                    ">

                                        <button 
                                            type="submit" 
                                            id="login-btn" 
                                            class="
                                                btn 
                                                btn-primary
                                                mb-3
                                                btn-lg
                                                loader-btn
                                                info
                                            "
                                            loader-state='default'
                                        >   
                                            <span>
                                                <div class='spinner-border' role='status'>
                                                    <span class='visually-hidden'>Loading...</span>
                                                </div>
                                            </span>
                                            <p>Login</p>
                                        </button>


                                        <p class="
                                            text-center
                                            text-muted
                                            mx-3
                                            my-auto
                                        ">Not a member? &nbsp;
                                            <a href="{% url 'register' %}" class="text-primary">Register</a>
                                        </p>
                                    </div>

                                    <!-- Divider -->
                                        
                                    <!-- Or -->
                                    <div class="
                                        text-center
                                    ">
                                        <p class="
                                            text-muted
                                        ">
                                            Other login options
                                        </p>
                                    </div>

                                    <!-- Loop trough all OAUTH Providers -->
                                    <div class="
                                        text-center
                                    ">
                                        {% for provider in providers %}
                                            <span
                                                id='{{ provider.id }}_sso'
                                                aria-label='{{ provider.name }}'
                                                aria-id='{{ provider.id }}'
                                                aria-url='{{ provider.url }}'
                                                class='sso'
                                            >
                                                <!-- Login with {{provider.name}}-->
                                                <a 
                                                    href='{{ provider.url }}'
                                                    style="
                                                        text-decoration: none;
                                                    "
                                                >
                                                    <p class='
                                                        fab 
                                                        fa-{{ provider.id }}
                                                        fa-2x
                                                        text-light
                                                        p-1
                                                    '></p>
                                                </a>
                                                
                                            </span>
                                        {% endfor %}
                                    </div>
                                </article>
                            
                                <article class='
                                    h-100 
                                    login-area-panel
                                    d-flex
                                    justify-content-center
                                    align-items-center
                                    flex-column
                                ' data-panel-type='totp'>

                                    <div class='flex-grow-0 h-100 text-center'>
                                        <p class='mb-4'>
                                            To continue, please enter the code from your authenticator app.
                                        </p>
                                    </div>
                                    
                                    <!-- TOTP inout -->
                                    <div id='totp-input' class='mfa form-group mt-1 mb-5 tfa-input d-flex gap-2 justify-content-center'>
                                    </div>
                                    

                                    <!-- Buttons -->
                                    <div class="
                                        d-flex 
                                        justify-content-lg-start
                                        justify-content-center
                                        flex-column
                                        mb-5
                                        w-100
                                    ">

                                        <button 
                                            type="submit" 
                                            id="totp-submit" 
                                            class="
                                                btn 
                                                btn-primary
                                                mb-3
                                                btn-lg
                                                loader-btn
                                                info
                                            "
                                            loader-state='default'
                                        >   
                                            <span>
                                                <div class='spinner-border' role='status'>
                                                    <span class='visually-hidden'>Loading...</span>
                                                </div>
                                            </span>
                                            <p>Continue</p>
                                        </button>
                                        <p class="w-100 text-center go-back m-0 text-muted">
                                            Go back
                                        </p>
                                    </div>

                                </article>
                            
                                <article class='
                                    h-100 
                                    login-area-panel
                                    d-flex
                                    justify-content-center
                                    align-items-center
                                    flex-column
                                ' data-panel-type='mfa'>

                                    <!-- Header -->
                                    <div class="mb-5 w-100">  
                                        <h1 class='fw-bold text-center clock'>00:00</h1>
                                    </div>

                                    <div class='flex-grow-0 h-100 text-center'>
                                        <p class='mb-4'>
                                            Please check your email and click the link to verify your account,
                                            If you don't see the email, check your spam folder,
                                            the link will stay active for 15 minutes.
                                        </p>
        
                                        <p class='mb-4 text-muted'>
                                            If you still don't see the email, you can click the button down
                                            below to resend the email.
                                        </p>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="
                                        d-flex 
                                        justify-content-lg-start
                                        justify-content-center
                                        flex-column
                                        mb-5
                                        w-100
                                    ">

                                        <button 
                                            type="submit" 
                                            id="email-resend-btn" 
                                            class="
                                                btn 
                                                btn-primary
                                                mb-3
                                                btn-lg
                                                loader-btn
                                                info
                                                w-100
                                            "
                                            loader-state='default'
                                        >   
                                            <span>
                                                <div class='spinner-border' role='status'>
                                                    <span class='visually-hidden'>Loading...</span>
                                                </div>
                                            </span>
                                            <p>Resend</p>
                                        </button>
                                        
                                        <p class="w-100 text-center go-back m-0 text-muted">
                                            Go back
                                        </p>
                                    </div>

                                </article>
                            </div>

                            <!-- Divider -->
                            <hr>

                            <div class="
                                text-center
                                text-muted
                            ">

                                <!-- Tos, Privacy policy -->
                                <p>
                                    By proceeding with the "Loging in" or "Creation" of an account, you acknowledge and agree to abide by the
                                    <a href="">Terms of Service</a> and 
                                    <a href="#!">Privacy Policy</a>.
                                </p>

                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Load the autentication script -->
    {% render_bundle 'login' %}
{% endblock %}
