{% extends "base.html" %}
{% load static %}

{% block metadescription %}
    Sign in and start streaming.
{% endblock %}

{% block title %}
    Login - StreamStage
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <span
        id='sso'
        data-token-url='{{ token }}'
        data-get-token-url='{{ get_token }}'
    >
    </span>

    <div id='toasts'>

    </div>
    
    <div class = '
        container 
        mt-4
        d-flex
        justify-content-center
        align-items-center
    '>

        <div class = '
            size-limiter
        '>
            <div class = '
                rounded
            '>
                <div class = '
                    row 
                    g-0
                    main-content
                '>
                    <main class="
                        col-12
                        d-flex 
                        align-items-center
                    ">
                        <div class = "
                            card-body 
                            p-5
                            text-light
                            smoother
                        ">

                            <!-- Header -->
                            <div class="
                                mb-5
                                justify-content-start
                            ">
                                <!-- Header -->
                                <h1 class="
                                    fw-bold 
                                ">Stream Stage</h1>

                                <!-- Slogan -->
                                <p class="
                                    text-muted
                                ">
                                    Dont ever miss out on another live event ever again.
                                </p>
                            </div>

                            <article class='panel' data-panel-type='defualt'>
                                <form>

                                    <!-- Email input -->
                                    <div class="mb-4">
                                        <label class="form-label" for="emailorusername">Email or Username</label>
                                        <input name="emailorusername" id="emailorusername" placeholder="you@StreamStage.co" class="
                                            form-control 
                                            form-control-lg
                                            inp
                                        ">
                                    </div>

                                    <!-- Password input -->
                                    <div class="mb-4">
                                        <label class="form-label" for="password">Password</label>
                                        <input name="password" id="password" placeholder="Super Secret Password" type="password" class="
                                            form-control 
                                            form-control-lg
                                            inp
                                        ">
                                    </div>

                                    <!-- Buttons -->
                                    <div class="
                                        d-flex 
                                        justify-content-lg-start
                                        justify-content-center
                                        flex-column
                                        mb-5
                                    ">

                                        <button type="submit" id="login-btn" class="
                                            btn 
                                            btn-primary
                                            mb-3
                                            btn-lg
                                        ">
                                            Login
                                        </button>

                                        <p class="
                                            text-center
                                            text-muted
                                            mx-3
                                            my-auto
                                        ">Not a member? &nbsp;
                                            <a href="/account/register" class="text-primary">Register</a>
                                        </p>
                                    </div>

                                    <!-- Divider -->
                                        
                                    <!-- Or -->
                                    <div class="
                                        text-center
                                    ">
                                        <p class="
                                            text-muted
                                        ">
                                            Other login options
                                        </p>
                                    </div>

                                    <!-- Loop trough all OAUTH Providers -->
                                    <div class="
                                        text-center
                                    ">
                                        {% for provider in providers %}
                                            <span
                                                id='{{ provider.id }}_sso'
                                                aria-label='{{ provider.name }}'
                                                aria-id='{{ provider.id }}'
                                                aria-url='{{ provider.url }}'
                                                class='sso'
                                            >
                                                <!-- Login with {{provider.name}}-->
                                                <a 
                                                    href='{{ provider.url }}'
                                                    style="
                                                        text-decoration: none;
                                                    "
                                                >
                                                    <p class='
                                                        fab 
                                                        fa-{{ provider.id }}
                                                        fa-2x
                                                        text-light
                                                        p-1
                                                    '></p>
                                                </a>
                                                
                                            </span>
                                        {% endfor %}
                                    </div>
                                </form>
                            </article>
                        
                        
                            <article class='panel' data-panel-type='oauth' style='display: none'>

                                <!-- 
                                    This snipped here is to discurage the browser 
                                    from auto filling the username field, as it
                                    blocks the username requirments
                                -->
                                <input style="display:none">
                                <input type="password" style="display:none">

                                <div class='
                                    d-flex
                                    justify-content-center
                                    align-items-center
                                    flex-column
                                    m-2
                                '>
                                    <p class='
                                        text-center
                                        fw-bold
                                    '>
                                        Please enter in the rest of your information
                                    </p>
        
                                </div>

                                <!-- Email input -->
                                <div class="mb-4">
                                    <label class="form-label" for="email">Email</label>
                                    <input name="email" id="email" placeholder="you@StreamStage.co" class="
                                        form-control 
                                        form-control-lg
                                        inp
                                    ">
                                </div>

                                <!-- Username input -->
                                <div class="mb-4">
                                    <label class="form-label" for="username">Username</label>
                                    <input name="username" autocomplete='off' id="username" placeholder="CoolDude1" class="
                                        form-control 
                                        form-control-lg
                                        inp
                                    ">

                                    <!-- Username requirements -->
                                    <div class="
                                        text-muted
                                        small
                                        p-2
                                        requirements
                                    ">
                                        <ul class="
                                            text-muted
                                        ">
                                            <li class='length'>Must be between 3 and 20 characters</li>
                                            <li class='start'>Must Start with a letter</li>
                                            <li class='characters'>Must only contain letters, numbers, and underscores</li>
                                            <li class='double-underscore'>Must not contain two underscores in a row</li>
                                            <li class='end-underscore'>Must not end with an underscore</li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Password input -->
                                <div class="mb-4">
                                    <label class="form-label" for="password">Password</label>
                                    <input name="password" autocomplete="new-password" id="password" placeholder="Super Secret Password" type="password" class="
                                        form-control 
                                        form-control-lg
                                        inp
                                        mb-2
                                    ">

                                    <input name="rp-password" id="rp-password" placeholder="What was my Password?" type="password" class="
                                        form-control 
                                        form-control-lg
                                        inp
                                    ">

                                    <!-- Password requirements -->
                                    <div class="
                                        text-muted
                                        small
                                        p-2
                                        requirements
                                    ">
                                        <ul class="
                                            text-muted
                                        ">
                                            <li class='length'>Must be between 8 and 64 characters</li>
                                            <li class='spaces'>Must not contain spaces</li>
                                            <li class='number'>Must contain at least one number</li>
                                            <li class='uppercase'>Must contain at least one uppercase letter</li>
                                            <li class='lowercase'>Must contain at least one lowercase letter</li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="
                                    d-flex 
                                    justify-content-lg-start
                                    justify-content-center
                                    flex-column
                                    mb-5
                                ">

                                    <button type="submit" id="login-btn" class="
                                        btn 
                                        btn-primary
                                        mb-3
                                        btn-lg
                                    ">
                                        Create
                                    </button>

                                    <p class="
                                        text-center
                                        text-muted
                                        mx-3
                                        my-auto
                                    ">Dont want to link accounts?
                                        <a href="/account/register" class="text-primary">Click here</a>
                                    </p>
                                </div>

                            </article>


                            <!-- Divider -->
                            <hr>

                            <div class="
                                text-center
                                text-muted
                            ">

                                <!-- Tos, Privacy policy -->
                                <p>
                                    By proceeding with the "Loging in" or "Creation" of an account, you acknowledge and agree to abide by the
                                    <a href="">Terms of Service</a> and 
                                    <a href="#!">Privacy Policy</a>.
                                </p>

                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Load the autentication script -->
    <script src="{% static 'js/app_bin.js' %}"></script>
{% endblock %}
