{% extends "base.html" %}
{% load static %}

{% block metadescription %}
    {{ user.username }} control panel
{% endblock %}

{% block title %}
    {{ user.username }} - Control Panel
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <span 
        id='config'
        data-admin='{{ user.is_staff }}'
        data-username='{{ user.username }}'
        data-userid='{{ user.id }}'
        data-useremail='{{ user.mask_email }}'
        data-userfirst='data:{{ user.first_name }}'
        data-userlast='data:{{ user.last_name }}'
        data-access-level='{{ user.access_level }}'
        data-profile-picture='data:{{ user.profile_picture }}'

        data-csrf-token='{{ csrf_token }}'

        data-send-verification='{{ api.send_verification }}'
        data-resend-verification='{{ api.resend_verification }}'
        data-remove-verification='{{ api.remove_verification }}'
        data-recent-verification='{{ api.recent_verification }}'
        data-security-info='{{ api.security_info }}'
    ></span>

    <div 
    id = 'main-container'
    class='
        main-container
    '>
        <!-- 1/4 Of the page-->
        <div 
            id='side-panel'
            class='side-panel text-light'
            side-panel='hidden'
        >
            <div class='width-limiter'>
                <section id='pod-general'>
                    <!-- 
                        Header - General
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            General
                        </p>
                    </div>

                    <div class='pods'>
                        <!-- 
                            Pod - User
                        -->
                        <div 
                            data-pod-status='active'
                            data-pod='profile'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-user
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Profile
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - User
                        -->


                        <!-- 
                            Pod - Security
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='security'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-shield-check
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Security
                                </p>
                            </div>
                        </div>

                        <span 
                            data-pod-status=''
                            data-pod='security-verified'
                        ></span>
                        <!-- 
                            End of Pod - Security
                        -->


                        <!-- 
                            Pod - Payment
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='payment'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-money-bill
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Payment
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Payment
                        -->


                        <!-- 
                            Pod - Notifications
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='notifications'
                            class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-bell
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Notifications
                                </p>
                            </div>
                        </div>
                    </div>
                </section>


                <section id='pod-other'>
                    <!--
                        Header - Other
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Other
                        </p>
                    </div>

                    <div class='pods'>
                        <!--
                            Pod - Help
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='help'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-handshake-angle
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Help
                                </p>
                            </div>
                        </div>
                        <!--
                            End of Pod - Help
                        -->
                        

                        <!-- 
                            Pod - Purchases
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='purchases'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-rectangle-history-circle-user
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Purchases
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Purchases
                        -->


                        <!--
                            Reviews
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='reviews'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-star-sharp-half-stroke
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Reviews
                                </p>
                            </div>
                        </div>
                        <!--
                            End of Reviews
                        -->
                    </div>
                </section>



                <section id='pod-broadcaster'>
                    <!-- 
                        Header - Broadcaster
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Streaming
                        </p>
                    </div>

                    <div class='pods'>
                        <!-- 
                            Pod - Events
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='events'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-calendar-lines-pen
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Events
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Events
                        -->
                    

                        <!--
                            Pod - Publishers
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='broadcaster'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-user-group
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Broadcasters
                                </p>
                            </div>
                        </div>
                        <!--
                            End of Pod - Broadcasters
                        -->
                    </div>
                </section>

                

                <section 
                    id='admin-options'
                    data-pod-status='hidden'
                >
                    <!-- 
                        Header - Admin
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Admin
                        </p>
                    </div>


                    <div class='pods'>
                        <!-- 
                            Events request Pod 
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='event-request'
                        class='
                            admin-pod
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-calendar-circle-plus
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Event Requests
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of events request pod 
                        -->



                        <!-- 
                            Publisher request Pod 
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='broadcaster-request'
                        class='
                            admin-pod
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-badge-check
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Broadcaster Requests
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of events request pod 
                        -->



                        <!-- 
                            Venues Pod
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='venues'
                        class='
                            admin-pod
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-map-location-dot
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Venues
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Venues Pod
                        -->
                    </div>
                </section>
            </div>

        <!-- End of menu -->
        </div>

        
        <!-- 3/4 Of the page-->
        <div class='
            main-panel
        '>
            
            <div class = '
                mt-4
                d-flex
                justify-content-center
                align-items-center
            '>

            <div class = '
                size-limiter
            '>
                <div class = '
                    rounded
                '>
                    <div class = '
                        row 
                        g-0
                        main-content
                    '>
                        <main class="
                            col-12
                            d-flex 
                            align-items-center
                        ">
                            <div class = "
                                card-body 
                                p-5
                                text-light
                                smoother
                            ">
                            

                                <!-- Profile Panel -->
                                {% include 'panels/profile.html' %}

                                <!-- Security panel -->
                                {% include 'panels/security.html' %}

                                <!--
                                    Events Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='events'
                                    data-panel-status='hidden'
                                >

                                </article>


                                <!--
                                    Broadcaster Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='broadcaster'
                                    data-panel-status='hidden'
                                >
    
                                </article>


                                <!--
                                    Admin: Events Request Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='event-request'
                                    data-panel-status='hidden'

                                >
                                </article>


                                <!--
                                    Admin: Broadcaster Request Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='broadcaster-request'
                                    data-panel-status='hidden'
                                >
    
                                </article>


                                <!--
                                    Admin: Venues Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='venues'
                                    data-panel-status='hidden'
                                >

                                </article>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
            </div>
        </div>


    </div>

    <!-- Js -->
    <script src="{% static 'js/settings_bin.js' %}"></script>
{% endblock %}