{% extends "base.html" %}
{% load static %}
{% load tags %}
{% load render_bundle from webpack_loader %}

{% block metadescription %}
    {{ user.cased_username }} control panel
{% endblock %}

{% block title %}
    {{ user.cased_username }} - Control Panel
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/payments.css' %}">
    <link rel="stylesheet" href="{% static 'css/cropper.css' %}">
    <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
{% endblock %}

{% block content %}
    <span 
        class='config'
        data-admin='{{ user.is_staff }}'
        data-imposter='{{ request.impersonate }}'
        data-username='{{ user.username }}'
        data-userid='{{ user.id }}'
        data-useremail='{{ user.mask_email }}'
        data-userfirst='data:{{ user.first_name }}'
        data-userlast='data:{{ user.last_name }}'
        data-access-level='{{ user.access_level }}'

        data-profile-picture='{{ user.get_profile_pic }}'
        data-banner-picture='{{ user.get_profile_banner }}'
        data-change-picture='{{ api.change_pfp }}'

        data-csrf-token='{{ csrf_token }}'

        data-send-verification='{{ api.send_verification }}'
        data-resend-verification='{{ api.resend_verification }}'
        data-remove-verification='{{ api.remove_verification }}'
        data-recent-verification='{{ api.recent_verification }}'
        data-change-email='{{ api.change_email }}'
        
        data-security-info='{{ api.security_info }}'
        data-update-profile='{{ api.update_profile }}'
        data-remove-oauth='{{ api.remove_oauth }}'
        data-extend-session='{{ api.extend_session }}'
        data-close-session='{{ api.close_session }}'

        data-add-payment='{{ api.add_payment }}'
        data-get-payments='{{ api.get_payments }}'
        data-remove-payment='{{ api.remove_payment }}'

        data-start-subscription='{{ api.start_subscription }}'
        
        data-mfa-setup='{{ api.setup_mfa }}'
        data-mfa-verify='{{ api.verify_mfa }}'
        data-mfa-disable='{{ api.disable_mfa }}'

        data-get-reviews='{{ api.get_reviews }}'
        data-update-review='{{ api.update_review }}'
        data-delete-review='{{ api.delete_review }}'

        data-stripe-pub='{{ stripe_key }}'
        data-stripe-customer='{{ stripe }}'

        data-add-payment='{{ api.add_payment }}'
        data-get-payments='{{ api.get_payments }}'
        data-remove-payment='{{ api.remove_payment }}',

        data-get-payment-methods='{% cross_app_reverse_tag "accounts" "get_payments" %}'
        data-add-payment-method='{% cross_app_reverse_tag "accounts" "add_payment" %}'
        data-remove-payment-method='{% cross_app_reverse_tag "accounts" "remove_payment" %}'
        data-create-payment-intent='{% cross_app_reverse_tag "accounts" "create_payment" %}'
        data-check-payment-intent='{% cross_app_reverse_tag "accounts" "check_payment" %}'
        
        data-create-payment='{{ api.create_payment }}'
        data-check-payment='{{ api.check_payment }}'

        data-is-subscribed='{{ user.is_subscribed }}'
        data-get-subscription='{{ api.get_subscription }}'
        data-cancel-subscription='{{ api.cancel_subscription }}'

        data-filter-purchases='{{ api.filter_purchases }}'
        data-get-tickets='{% cross_app_reverse_tag "accounts" "get_tickets" %}'
    ></span>
    <div 
    id = 'main-container'
    class='
        main-container
    '>
        <!-- 1/4 Of the page-->
        <div 
            id='side-panel'
            class='side-panel text-light'
            side-panel='hidden'
        >   
            {% comment %} if (window.opener && window.opener !== window) {
                window.opener.postMessage({ type: 'close' }, '*');
            } {% endcomment %}
            <div class='width-limiter'>

                {% if request.impersonate %}
                    <section id='pod-impersonate'>
                        <div class='side-panel-header'>
                            <p class='side-panel-header-text'>
                                Impersonate
                            </p>
                        </div>

                        <div class='pods'>
                            <div 
                                data-pod-status=''
                                data-pod='exit'
                            class='
                                side-panel-pod
                                text-light d-flex
                                align-items-center
                                justify-content-start
                            '>
                                <!-- Icon -->
                                <div 
                                    class='
                                        side-panel-pod-icon
                                        d-flex
                                        align-items-center
                                        justify-content-center
                                    '
                                >
                                    <i class="fa-solid text-justify accordion
                                        fa-person-from-portal
                                    "></i>
                                </div>

                                <!-- Text -->
                                <div class='side-panel-pod-text'>
                                    <p class='side-panel-pod-text-text m-0 mb-0'>
                                        Exit Impersonation
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <script>
                        const exitImpersonation = document.querySelector('[data-pod="exit"]');
                        exitImpersonation.addEventListener('click', () => window.close());
                    </script>
                {% endif %}


                <section id='pod-general'>
                    <!-- 
                        Header - General
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            General
                        </p>
                    </div>

                    <div class='pods'>
                        <!-- 
                            Pod - User
                        -->
                        <div 
                            data-pod-status='active'
                            data-pod='profile'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-user
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Profile
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - User
                        -->



                        <!-- 
                            Pod - Payment
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='payment'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-money-bill
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Payments
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Payment
                        -->



                        <!-- 
                            Pod - StreamStage+
                        -->
                        <div 
                            {% if request.impersonate %}style='display:none'{% endif %}
                            data-pod-status=''
                            data-pod='streamstageplus'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-video-plus
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    StreamStage+
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - StreamStage+
                        -->



                        <!-- 
                            Pod - Tickets
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='tickets'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-ticket
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Tickets
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Tickets
                        -->
                        
                    </div>
                </section>



                <section id='pod-security'>
                    <!--
                        Header - Security
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Security
                        </p>
                    </div>

                    <div class='pods'>
                        <!-- 
                            Pod - Security
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='security'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-shield-check
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Security
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Security
                        -->


                        <!-- 
                            Pod - Preferences
                        -->
                        <div data-pod-status='hidden' data-pod='security-preferences'
                            class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-cog"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'> <p class='side-panel-pod-text-text m-0 mb-0'>
                                Preferences
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Preferences
                        -->


                        <!-- 
                            Pod - MFA
                        -->
                        <div data-pod-status='hidden' data-pod='security-mfa'
                            class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-shield-check"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'> <p class='side-panel-pod-text-text m-0 mb-0'>
                                MFA
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - MFA
                        -->


                        <!-- 
                            Pod - Linked Accounts
                        -->
                        <div data-pod-status='hidden' data-pod='security-linked-accounts'
                            class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-link"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'> <p class='side-panel-pod-text-text m-0 mb-0'>
                                Linked Accounts
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Linked Accounts
                        -->


                        <!-- 
                            Pod - Password
                        -->
                        <div data-pod-status='hidden' data-pod='security-password'
                            class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-key"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'> <p class='side-panel-pod-text-text m-0 mb-0'>
                                Password
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Password
                        -->


                        <!-- 
                            Pod - Email
                        -->
                        <div data-pod-status='hidden' data-pod='security-email'
                            class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-envelope"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'> <p class='side-panel-pod-text-text m-0 mb-0'>
                                Email
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Email
                        -->


                        <!-- 
                            Pod - History
                        -->
                        <div data-pod-status='hidden' data-pod='security-history'
                            class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-history"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'> <p class='side-panel-pod-text-text m-0 mb-0'>
                                History
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - History
                        -->


                        <!-- 
                            Pod - Delete Account
                        -->
                        <div data-pod-status='hidden' data-pod='security-delete'
                            class='side-panel-pod text-light d-flex align-items-center justify-content-start'>
                            <!-- Icon -->
                            <div class='side-panel-pod-icon d-flex align-items-center justify-content-center'>
                                <i class="fa-solid text-justify accordion fa-trash"></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'> <p class='side-panel-pod-text-text m-0 mb-0'>
                                Delete Account
                            </p></div>
                        </div>
                        <!-- 
                            End of Pod - Delete Account
                        -->

                    </div>
                </section>

                <section id='pod-other'>
                    <!--
                        Header - Other
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Other
                        </p>
                    </div>

                    <div class='pods'>
                        <!--
                            Pod - Help
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='help'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-handshake-angle
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Help
                                </p>
                            </div>
                        </div>
                        <!--
                            End of Pod - Help
                        -->
                        

                        <!-- 
                            Pod - Purchases
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='purchases'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-rectangle-history-circle-user
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Purchases
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Purchases
                        -->


                        <!--
                            Reviews
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='reviews'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-star-sharp-half-stroke
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Reviews
                                </p>
                            </div>
                        </div>
                        <!--
                            End of Reviews
                        -->
                    </div>
                </section>

            </div>

        <!-- End of menu -->
        </div>

        
        <!-- 3/4 Of the page-->
        <div class='
            main-panel
        '>
            
            <div class = '
                mt-4
                justify-content-center
                align-items-center
            '>

            <div class = '
                size-limiter
            '>
                <div class = '
                    rounded
                '>
                    <div class = '
                        row 
                        g-0
                        main-content
                    '>
                        <main>
                            <!--
                                p-5 on large screens
                                p-3 on small screens
                            -->
                            <div class = "
                                card-body 
                                rounded
                                p-xxl-5
                                p-xl-5
                                p-lg-5
                                p-md-3
                                p-sm-3
                                p-2
                                text-light
                                smoother
                            ">
                            

                                <!-- Profile Panel -->
                                {% include 'panels/profile.html' %}

                                <!-- Security panel -->
                                {% include 'panels/security.html' %}

                                <!-- Payments panel -->
                                {% include 'panels/payments.html' %}

                                <!-- StreamStage+ -->
                                {% include 'panels/streamstageplus.html' %}

                                <!-- Tickets -->
                                {% include 'panels/tickets.html' %}

                                <!-- Reviews -->
                                {% include 'panels/reviews.html' %}

                                <!-- Purchases -->
                                {% include 'panels/purchases.html' %}
                                
                                <!--
                                    Events Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='events'
                                    data-panel-status='hidden'
                                >

                                </article>


                                <!--
                                    Broadcaster Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='broadcaster'
                                    data-panel-status='hidden'
                                >
    
                                </article>


                                <!--
                                    Admin: Events Request Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='event-request'
                                    data-panel-status='hidden'

                                >
                                </article>


                                <!--
                                    Admin: Broadcaster Request Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='broadcaster-request'
                                    data-panel-status='hidden'
                                >
    
                                </article>


                                <!--
                                    Admin: Venues Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='venues'
                                    data-panel-status='hidden'
                                >

                                </article>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
            </div>
        </div>


    </div>

    <!-- Js -->
    {% render_bundle 'settings' %}
{% endblock %}