{% extends "base.html" %}
{% load static %}

{% block metadescription %}
    {{ user.username }} control panel
{% endblock %}

{% block title %}
    {{ user.username }} - Control Panel
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <span 
        id='config'
        data-admin='{{ user.is_staff }}'
        data-username='{{ user.username }}'
        data-userid='{{ user.id }}'
        data-useremail='{{ user.mask_email }}'
        data-userfirst='data:{{ user.first_name }}'
        data-userlast='data:{{ user.last_name }}'
        data-access-level='{{ user.access_level }}'
        data-profile-picture='data:{{ user.profile_picture }}'

        data-change-details='{{api.change_details}}'
        data-csrf-token='{{ csrf_token }}'

        data-send-verification='{{ api.send_verification }}'
        data-resend-verification='{{ api.resend_verification }}'
        data-remove-verification='{{ api.remove_verification }}'
        data-recent-verification='{{ api.recent_verification }}'
    ></span>

    <div 
    id = 'main-container'
    class='
        main-container
    '>
        <!-- 1/4 Of the page-->
        <div 
            id='side-panel'
            class='side-panel text-light'
            side-panel='hidden'
        >
            <div class='width-limiter'>
                <section id='pod-general'>
                    <!-- 
                        Header - General
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            General
                        </p>
                    </div>

                    <div class='pods'>
                        <!-- 
                            Pod - User
                        -->
                        <div 
                            data-pod-status='active'
                            data-pod='profile'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-user
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Profile
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - User
                        -->


                        <!-- 
                            Pod - Security
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='security'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-shield-check
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Security
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Security
                        -->


                        <!-- 
                            Pod - Payment
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='payment'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-money-bill
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Payment
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Payment
                        -->


                        <!-- 
                            Pod - Notifications
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='notifications'
                            class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-bell
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Notifications
                                </p>
                            </div>
                        </div>
                    </div>
                </section>


                <section id='pod-other'>
                    <!--
                        Header - Other
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Other
                        </p>
                    </div>

                    <div class='pods'>
                        <!--
                            Pod - Help
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='help'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-handshake-angle
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Help
                                </p>
                            </div>
                        </div>
                        <!--
                            End of Pod - Help
                        -->
                        

                        <!-- 
                            Pod - Purchases
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='purchases'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-rectangle-history-circle-user
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Purchases
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Purchases
                        -->
                    </div>
                </section>



                <section id='pod-broadcaster'>
                    <!-- 
                        Header - Broadcaster
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Broadcaster
                        </p>
                    </div>

                    <div class='pods'>
                        <!-- 
                            Pod - Events
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='events'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-calendar-lines-pen
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Events
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Pod - Events
                        -->
                    

                        <!--
                            Pod - Publishers
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='publishers'
                        class='
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-user-group
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Publishers
                                </p>
                            </div>
                        </div>
                        <!--
                            End of Pod - Broadcasters
                        -->
                    </div>
                </section>

                

                <section 
                    id='admin-options'
                    data-pod-status='hidden'
                >
                    <!-- 
                        Header - Admin
                    -->
                    <div class='side-panel-header'>
                        <p class='side-panel-header-text'>
                            Admin
                        </p>
                    </div>


                    <div class='pods'>
                        <!-- 
                            Events request Pod 
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='event-request'
                        class='
                            admin-pod
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-calendar-circle-plus
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Event Requests
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of events request pod 
                        -->


                        <!-- 
                            Venues Pod
                        -->
                        <div 
                            data-pod-status=''
                            data-pod='venues'
                        class='
                            admin-pod
                            side-panel-pod
                            text-light d-flex
                            align-items-center
                            justify-content-start
                        '>
                            <!-- Icon -->
                            <div 
                                class='
                                    side-panel-pod-icon
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                '
                            >
                                <i class="fa-solid text-justify accordion
                                    fa-map-location-dot
                                "></i>
                            </div>

                            <!-- Text -->
                            <div class='side-panel-pod-text'>
                                <p class='side-panel-pod-text-text m-0 mb-0'>
                                    Venues
                                </p>
                            </div>
                        </div>
                        <!-- 
                            End of Venues Pod
                        -->
                    </div>
                </section>
            </div>

        <!-- End of menu -->
        </div>

        
        <!-- 3/4 Of the page-->
        <div class='
            main-panel
        '>
            
            <div class = '
                mt-4
                d-flex
                justify-content-center
                align-items-center
            '>

            <div class = '
                size-limiter
            '>
                <div class = '
                    rounded
                '>
                    <div class = '
                        row 
                        g-0
                        main-content
                    '>
                        <main class="
                            col-12
                            d-flex 
                            align-items-center
                        ">
                            <div class = "
                                card-body 
                                p-5
                                text-light
                                smoother
                            ">
                                <!--
                                    Security Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='security'
                                    data-panel-status=''
                                >
                                    <!-- 
                                        The security panel will require 
                                        the user to click a link in their
                                        email to verify their account.

                                        or if they have TFA enabled, they
                                        will be required to enter a code
                                        from their authenticator app.
                                    -->
                                    <div class="
                                        mb-5
                                        justify-content-start
                                    ">
                                        <!-- Header -->
                                        <h1 class="
                                            fw-bold 
                                        ">Security</h1>

                                        <!-- Descriptiopn -->
                                        <p class="
                                            text-muted
                                        ">
                                            Here you can view your security settings, manage linked accounts and change your password.
                                        </p>
                                    </div>


                                    <!-- 
                                        2FA
                                    -->
                                    <div class="
                                        mb-5
                                        justify-content-start
                                        text-center
                                    ">
                                        <!-- Descriptiopn -->
                                        <p class="">
                                            But, before you can make any changes,
                                            {% if has_tfa %}
                                                you must enter the code from your authenticator app.
                                            {% else %}
                                                you must click the link sent to {{ user.mask_email }}.
                                            {% endif %}
                                        </p>

                                    </div>

                                    <!-- Buttons -->
                                    <div class="
                                        d-flex 
                                        justify-content-lg-start
                                        justify-content-center
                                        flex-column
                                    ">   
                                            
                                        <button 
                                            type="submit" 
                                            id="send-verification-email" 
                                            class="
                                                btn 
                                                btn-primary
                                                mb-3
                                                btn-lg
                                                loader-btn
                                            "
                                            loader-state='default'
                                        >   
                                            <span>
                                                <div class='spinner-border' role='status'>
                                                    <span class='visually-hidden'>Loading...</span>
                                                </div>
                                            </span>
                                            <p>Send verification email</p>
                                        </button>

                                    </div>

                                    
                                </article>


                                <!--
                                    Profile Panel
                                -->
                                <article 
                                    class='panel' 
                                    data-panel-type='profile'
                                    data-panel-status='hidden'
                                >
                                    <!-- Header -->
                                    <div class="
                                        mb-5
                                        justify-content-start
                                    ">
                                        <!-- Header -->
                                        <h1 class="
                                            fw-bold 
                                        ">Welcome, {{ user.username }}!</h1>

                                        <!-- Descriptiopn -->
                                        <p class="
                                            text-muted
                                        ">
                                            Here you can view your profile, edit your details, and change your password.
                                        </p>
                                    </div>

                                    <!-- Profile picture -->
                                    <div class="
                                        mb-5
                                        d-flex
                                        justify-content-center
                                    ">
                                        <img 
                                            src="{{ user.profile_picture }}" 
                                            alt="Profile picture" 
                                            class="
                                                profile-picture
                                            "
                                        >
                                    </div>
                                    

                                    
                                    <!-- Username input -->
                                    <div class="mb-4">
                                        <label class="form-label" for="username">Username</label>
                                        <input 
                                            name="username" 
                                            id="username" 
                                            placeholder="Sick name 13" 
                                            value="{{ user.username }}"
                                        class="
                                            form-control 
                                            form-control-lg
                                            inp
                                        ">
                                    </div>


                                    <!-- First and lastname -->
                                    <div
                                        class="
                                            d-flex
                                            gap-4
                                        "
                                    >
                                        <!-- Firstname -->
                                        <div class="mb-4">
                                            <label class="form-label" for="fname">First name</label>
                                            <input 
                                                name="fname" 
                                                id="fname" 
                                                placeholder="Joe" 
                                                value="{{ user.first_name }}"
                                            class="
                                                form-control 
                                                form-control-lg
                                                inp
                                            ">
                                        </div>

                                        <!-- Lastname -->
                                        <div class="mb-4">
                                            <label class="form-label" for="lname">Last name</label>
                                            <input 
                                                name="lname" 
                                                id="lname" 
                                                placeholder="Fungus"
                                                value="{{ user.last_name }}"
                                            class="
                                                form-control 
                                                form-control-lg
                                                inp
                                            ">
                                        </div>
                                    </div>


                                    <!-- Description -->
                                    <div class="mb-4">
                                        <label class="form-label" for="bio">Bio</label>
                                        <textarea 
                                            name="bio" 
                                            id="bio" 
                                            cols="40" rows="5"
                                            placeholder="I like to eat cheese"
                                            value="{{ user.description }}"
                                            class="
                                                form-control 
                                                form-control-lg
                                                inp
                                            "> 
                                        </textarea>
                                    </div>


                                    <!-- Save button -->
                                    <div class="
                                        text-center
                                    ">
                                        <p class='
                                            mb-4
                                            fs-5
                                        '>
                                            {{ message }}
                                        </p>
        

                                        <!-- Buttons -->
                                        <div class="
                                            d-flex 
                                            justify-content-lg-start
                                            justify-content-center
                                            flex-column
                                        ">   
                                                
                                            <button 
                                                type="submit" 
                                                id="save-btn" 
                                                class="
                                                    btn 
                                                    btn-primary
                                                    mb-3
                                                    btn-lg
                                                    loader-btn
                                                "
                                                loader-state='default'
                                            >   
                                                <span>
                                                    <div class='spinner-border' role='status'>
                                                        <span class='visually-hidden'>Loading...</span>
                                                    </div>
                                                </span>
                                                <p>Save</p>
                                            </button>

                                        </div>
                                    </div>

                            
                                </article>

                            </div>
                        </main>
                    </div>
                </div>
            </div>
            </div>
        </div>


    </div>

    <!-- Js -->
    <script src="{% static 'js/settings_bin.js' %}"></script>
{% endblock %}