{% extends "base.html" %}
{% load static %}

{% block metadescription %}
  Register and start streaming.
{% endblock %}

{% block title %}
    Register - StreamStage
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <span
        id='config'
        data-page='login'
        data-csrf-token='{{ csrf_token }}'
        data-token-url='{{ token }}'
        data-get-token-url='{{ get_token }}'
        data-register-url='{{ register }}'
        data-login-url='{{ login }}'

        data-recent-verification='{{ email_recent }}'
        data-email-verify='{{ email_verify }}'
        data-resend-verification='{{ email_resend }}'
    >
    </span>

    </div>
    
    <div class = '
        container 
        mt-4
        d-flex
        justify-content-center
        align-items-center
    '>

        <div class = '
            size-limiter
        '>
            <div class = '
                rounded
            '>
                <div class = '
                    row 
                    g-0
                    main-content
                '>
                    <main>
                        <div class = "
                            card-body 
                            rounded
                            p-xxl-5
                            p-xl-5
                            p-lg-5
                            p-md-3
                            p-sm-3
                            p-2
                            text-light
                            smoother
                        ">


                            <!-- Header -->
                            <div class="
                                mb-5
                                justify-content-start
                            ">
                                <!-- Header -->
                                <h1 class="
                                    fw-bold 
                                ">Stream Stage</h1>

                                <!-- Slogan -->
                                <p class="
                                    text-muted
                                ">
                                    Dont ever miss out on another live event ever again.
                                </p>
                            </div>

                            <div class='login-area-panels w-100'>
                                <article 
                                    class='h-100 
                                    w-100
                                    login-area-panel
                                    d-flex
                                    justify-content-center
                                    align-items-center
                                    flex-column
                                    login-area-panel-in' 
                                    data-panel-type='register'>

                                    <!-- 
                                        This snipped here is to discourage the browser 
                                        from auto filling the username field, as it
                                        blocks the username requirments
                                    -->
                                    <input style="display:none">
                                    <input type="password" style="display:none">

                                    <!-- Email input -->
                                    <div class="mb-4 w-100">
                                        <label class="form-label" for="email">Email</label>
                                        <input name="email" id="email" placeholder="you@StreamStage.co" class="
                                            form-control 
                                            form-control-lg
                                            inp
                                        ">
                                    </div>

                                    <!-- Username input -->
                                    <div class="mb-4 w-100">
                                        <label class="form-label" for="username">Username</label>
                                        <input name="username" autocomplete='off' id="username" placeholder="CoolDude1" class="
                                            form-control 
                                            form-control-lg
                                            inp
                                        ">

                                        <!-- Username requirements -->
                                        <div class="
                                            text-muted
                                            small
                                            p-2
                                            requirements
                                        ">
                                            <ul class="text-muted d-flex flex-wrap">
                                                <li class='length w-50'>Must be between 8 and 64 characters</li>
                                                <li class='spaces w-50'>Must not contain spaces</li>
                                                <li class='number w-50'>Must contain at least one number</li>
                                                <li class='uppercase w-50'>Must contain at least one uppercase letter</li>
                                                <li class='lowercase w-50'>Must contain at least one lowercase letter</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Password input -->
                                    <div class="mb-4 w-100">
                                        <label class="form-label" for="password">Password</label>
                                        <input name="password" autocomplete="new-password" id="password" placeholder="Super Secret Password" type="password" class="
                                            form-control 
                                            form-control-lg
                                            inp
                                            mb-2
                                            password
                                        ">

                                        <input name="rp-password" id="rp-password" placeholder="What was my Password?" type="password" class="
                                            form-control 
                                            form-control-lg
                                            inp
                                        ">

                                        <!-- Password requirements -->
                                        <div class="
                                            text-muted
                                            small
                                            p-2
                                            requirements
                                        ">
                                            <ul class="
                                                text-muted
                                            ">
                                                <li class='length'>Must be between 8 and 64 characters</li>
                                                <li class='spaces'>Must not contain spaces</li>
                                                <li class='number'>Must contain at least one number</li>
                                                <li class='uppercase'>Must contain at least one uppercase letter</li>
                                                <li class='lowercase'>Must contain at least one lowercase letter</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="
                                        d-flex 
                                        justify-content-lg-start
                                        justify-content-center
                                        flex-column
                                        mb-5
                                        w-100
                                    ">

                                        <button 
                                            type="submit" 
                                            id="login-btn" 
                                            class="
                                                btn 
                                                btn-primary
                                                mb-3
                                                btn-lg
                                                loader-btn
                                                info
                                                w-100
                                            "
                                            loader-state='default'
                                        >   
                                            <span>
                                                <div class='spinner-border' role='status'>
                                                    <span class='visually-hidden'>Loading...</span>
                                                </div>
                                            </span>
                                            <p>Create</p>
                                        </button>

                                        <p class="
                                            text-center
                                            text-muted
                                            mx-3
                                            my-auto
                                        ">Just want to login?
                                            <a href="{% url 'login' %}" class="text-primary">Click here</a>
                                        </p>
                                    </div>

                                    <!-- Or -->
                                    <div class="
                                        text-center
                                    ">
                                        <p class="
                                            text-muted
                                        ">
                                            Other sign up options
                                        </p>
                                    </div>

                                    <!-- Loop trough all OAUTH Providers -->
                                    <div class="
                                        text-center
                                    ">
                                        {% for provider in providers %}
                                            <span
                                                id='{{ provider.id }}_sso'
                                                aria-label='{{ provider.name }}'
                                                aria-id='{{ provider.id }}'
                                                aria-url='{{ provider.url }}'
                                                class='sso'
                                            >
                                                <!-- Login with {{provider.name}}-->
                                                <a 
                                                    href='{{ provider.url }}'
                                                    style="
                                                        text-decoration: none;
                                                    "
                                                >
                                                    <p class='
                                                        fab 
                                                        fa-{{ provider.id }}
                                                        fa-2x
                                                        text-light
                                                        p-1
                                                    '></p>
                                                </a>
                                                
                                            </span>
                                        {% endfor %}
                                    </div>

                                </article>


                                <article 
                                    class='h-100 
                                    login-area-panel
                                    d-flex
                                    justify-content-center
                                    align-items-center
                                    flex-column' 
                                    data-panel-type='email-wait'>
                             
                                        <!-- Header -->
                                        <div class='flex-grow-0 h-100 text-center'>
                                            <div class="mb-5 w-100">  
                                                <h1 class='fw-bold clock'>00:00</h1>
                                            </div>
    
                                            <p class='
                                                mb-4
                                            '>
                                                Please check your email and click the link to verify your account,
                                                If you don't see the email, check your spam folder.
                                            </p>
            
                                            <p class='
                                                mb-4
                                                text-muted
                                            '>
                                                If you still don't see the email, you can resend it,
                                                or you can use a different email.
                                            </p>
                                        </div>
                                        
                                        <!-- Buttons -->
                                        <div class="
                                            d-flex 
                                            justify-content-lg-start
                                            justify-content-center
                                            flex-column
                                            mb-5
                                            w-100
                                        ">
                                            <!-- Email input -->
                                            <div class="mb-4">
                                                <input name="resend-email" id="resend-email" placeholder="you@StreamStage.co" class="
                                                    form-control 
                                                    form-control-lg
                                                    inp
                                                ">
                                            </div>
                                            
                                            <button 
                                                type="resend" 
                                                name="resend"
                                                id="resend" 
                                                class="
                                                    btn 
                                                    btn-primary
                                                    mb-3
                                                    btn-lg
                                                    loader-btn
                                                    info
                                                "
                                                loader-state='default'
                                            >   
                                                <span>
                                                    <div class='spinner-border' role='status'>
                                                        <span class='visually-hidden'>Loading...</span>
                                                    </div>
                                                </span>
                                                <p>Resend</p>
                                            </button>

                                        </div>
                                    </div>

                                </article>
                            </div>


                            <!-- Divider -->
                            <hr>

                            <div class="
                                text-center
                                text-muted
                            ">

                                <!-- Tos, Privacy policy -->
                                <p>
                                    By proceeding with the "Loging in" or "Creation" of an account, you acknowledge and agree to abide by the
                                    <a href="">Terms of Service</a> and 
                                    <a href="#!">Privacy Policy</a>.
                                </p>

                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Load the autentication script -->
    <script src="{% static 'js/register_bin.js' %}"></script>
{% endblock %}
