{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap" rel="stylesheet"> 


        <!-- Styles -->
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <!-- StreamStage font -->
        <link rel="stylesheet" href="{% static 'fonts/lust/lust.css' %}">
        <!-- Icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-
        Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/lust/lust.css' %}">


        <!-- Primary Meta Tags -->
        <title>{% block title %}{% endblock %}</title>
        <meta name="title" content="StreamStage — Live where ever you are">
        <meta name="description" content="StreamStage lets you tune into live events from around the world that you otherwise wouldn't be able to attend.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://streamstage.co/">
        <meta property="og:title" content="StreamStage — Live where ever you are">
        <meta property="og:description" content="StreamStage lets you tune into live events from around the world that you otherwise wouldn't be able to attend.">
        <meta property="og:image" content="{% static '/images/StreamStage-Logo.png' %}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://streamstage.co/">
        <meta property="twitter:title" content="StreamStage — Live where ever you are">
        <meta property="twitter:description" content="StreamStage lets you tune into live events from around the world that you otherwise wouldn't be able to attend.">
        <meta property="twitter:image" content="{% static '/images/StreamStage-Logo.png' %}">
        <meta name="twitter:site" content="@StreamStage">
        <meta name="twitter:creator" content="@StreamStage">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'meta/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'meta/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'meta/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'meta/site.webmanifest' %}">


        <!-- Tags -->
        <meta name="keywords" content="
            StreamStage,
            Stream Stage,
            Stream,
            Stage,
            Live,
            Live Stream,
            Live Stage,
            Live Events,
            Live Concerts,
            Live Music,
            Live Sports,
            Live Shows,
            Live Performances,
            Live Performance,
            Live Performers,
            Live Performer,
            Live Performer Events,
            Live Performer Concerts,
            Live Performer Music,
            Live Performer Sports,
            Live Performer Shows,
            Live Performer Performances,
            Live Performer Performers,
            Livestream,
            Livestage,
            Liveevents,
            Liveconcerts,
            Livemusic,
        ">

        <!-- Headblock -->
        {% block head %}
        {% endblock %}

        <!-- Authors -->
        <meta name="author" content="StreamStage">
        <meta name="author" content="Grzegorz Maniak">
        <meta name="author" content="Cian Mc Ardle">
        <meta name="author" content="Bernhard Kiveris">

        <meta name="description" content="{% block metadescription %}{% endblock %}">

    </head>

    <body class="text-light">
        <!-- Main body of page -->
        <div id='toasts'></div>
        
        <!-- Navbar -->
        {% include 'navbar.html' %}

        <!-- Unique page content -->
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        {% include 'footer.html' %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <!-- Font Awesome -->
        <script src="{% static '/js/fontawesome.js' %}"></script>
    </body>

</html>