{% load tags %}
<footer class="footer">
    <div class="footer-limiter"> 
        <div class="top"> 
            <!-- Logo column -->
            <div class='footer-logo'>
                <h1> StreamStage </h1>
                <p>Never miss another live event again.</p>
            </div>


            <!-- Links column -->
            <div class='links'>
                <ul class="list-unstyled">
                    <li class='title'>Homepage</li>
                    <li><a href="{% cross_app_reverse_tag 'homepage' 'homepage_index' %}">Home</a></li>
                    <li><a href="{% cross_app_reverse_tag 'events' 'live_events' %}">Live</a></li>
                    <li><a href="{% cross_app_reverse_tag 'events' 'upcoming_events' %}">Upcoming</a></li>
                    <li><a href="{% cross_app_reverse_tag 'events' 'past_events' %}">Past</a></li>
                </ul>

                <ul class="list-unstyled">
                    <li class='title'>Account</li>
                    {% if user.is_authenticated %}
                        <li><a href="{% cross_app_reverse_tag 'accounts' 'logout' %}">Logout</a></li>
                        <li><a href="{% cross_app_reverse_tag 'homepage' 'user_profile' username=request.user.username %}">Profile</a></li>
                        <li><a href="{% cross_app_reverse_tag 'accounts' 'login' %}">Settings</a></li>
                    {% else %}
                        <li><a href="{% cross_app_reverse_tag 'accounts' 'login' %}">Login</a></li>
                        <li><a href="{% cross_app_reverse_tag 'accounts' 'register' %}">Register</a></li>
                        <li><a href="{% cross_app_reverse_tag 'accounts' 'forgot' %}">Forgot details</a></li>
                    {% endif %}
                </ul>

                <ul class="list-unstyled">
                    <li class='title'>Support</li>
                    <li><a href="{% cross_app_reverse_tag 'StreamStage' 'render_faq' %}">FAQ</a></li>
                    <li><a href="{% cross_app_reverse_tag 'StreamStage' 'render_terms' %}">Terms</a></li>
                    <li><a href="{% cross_app_reverse_tag 'StreamStage' 'render_privacy' %}">Privacy</a></li>
                </ul>

                <ul class="list-unstyled">
                    <li class='title'>Applications</li>
                    <li><a href="{% cross_app_reverse_tag 'applications' 'apply_broadcaster' %}">Broadcaster</a></li>
                    <li><a href="{% cross_app_reverse_tag 'applications' 'apply_streamer' %}">Streamer</a></li>
                    <li><a href="{% cross_app_reverse_tag 'applications' 'apply_event' %}">Event</a></li>
                </ul>

                <ul class="list-unstyled">
                    <li class='title'>Other</li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="{% cross_app_reverse_tag 'accounts' 'broadcaster_panel' %}">Broadcasters</a></li>
                    <li><a href="{% cross_app_reverse_tag 'StreamStage' 'sitemap' %}">Site Map</a></li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="d-flex pb-1 rights">
            <p class="m-0 text-center">&copy; 2023 StreamStage.co &nbsp; All Rights Reserved.</p>
        </div>
    </div>
</footer>