{% load tags %}
<footer class="footer">
    <div class="footer-limiter"> 
        <div class="top"> 
            <!-- Logo column -->
            <div class='footer-logo'>
                <h1> StreamStage </h1>
                <p>Never miss another live event again.</p>
            </div>


            <!-- Links column -->
            <div class='links'>
                <ul class="list-unstyled">
                    <li class='title'>Homepage</li>
                    <li><a href="{% cross_app_reverse_tag 'homepage' 'homepage_index' %}">Home</a></li>
                    <li><a href="#">Live</a></li>
                    <li><a href="{% cross_app_reverse_tag 'events' 'upcoming_events' %}">Upcoming</a></li>
                    <li><a href="{% cross_app_reverse_tag 'events' 'past_events' %}">Past</a></li>
                </ul>

                <ul class="list-unstyled">
                    <li class='title'>Account</li>
                    <li><a href="{% cross_app_reverse_tag 'accounts' 'login' %}">Login</a></li>
                    <li><a href="{% cross_app_reverse_tag 'accounts' 'register' %}">Register</a></li>
                    <li><a href="{% cross_app_reverse_tag 'accounts' 'member_profile' %}">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>

                <ul class="list-unstyled">
                    <li class='title'>Support</li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>

                <ul class="list-unstyled">
                    <li class='title'>Company</li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                </ul>

                <ul class="list-unstyled">
                    <li class='title'>Broadcaster</li>
                    <li><a href="#">Ingest</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="d-flex pb-2 rights">
            <p class="m-0">&copy; 2023 StreamStage.co &nbsp; All Rights Reserved.</p>
        </div>
    </div>
</footer>