{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <!-- Control Panel Dropdown Menu -->
        <div class="dropdown col-2">
            <div class='
                        carrot
                        d-flex
                        align-items-center                
                        ps-4
                    '>
                <input type="checkbox" name="navbar-carrot" id="navbar-carrot" autocomplete="off">

                <label for="navbar-carrot" id="navbar-carrot-label">
                    <i class="fa-solid fa-square-caret-down"></i>
                </label>
            </div>
        </div>
        <!-- Search Bar -->
        <div class="col-4">
            <a href="#">
                <img class="banner-image" src="{% static 'images/banner_logo.png' %}" alt="StreamStage Banner Logo">
            </a>
        </div>

        <!-- Search Bar -->
        {% if not is_search_page %}
        <div class="col-4">
            <form class="d-flex align-items-center me-2" action="" method="get">
                <input type="search" class="search-bar form-control" placeholder="Search Events..." aria-label="Search"
                    name="q">
                <button class="d-flex btn" style="background-color: #ffb25a;" type="submit"><i
                        class="fa-solid fa-magnifying-glass p-1"></i></button>
            </form>
        </div>
        {% endif %}

        <!-- User Profile Settings Dropdown Menu -->
        <div class="flex-shrink-0 dropdown col-2">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" class="rounded-1" width="32" height="32">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
</nav>
