{% load static %}
{% load tags %}
{% load render_bundle from webpack_loader %}

<nav id='nav'>
    <span class='config'
        data-home-url = "{% cross_app_reverse_tag 'homepage' 'homepage_index' %}"
    ></span>

    <!-- Control Panel Dropdown Menu -->
    <div class="sidepanel-button" elem-status='hidden'>
        <div class='carrot d-flex align-items-center ps-4'>
            <input type="checkbox" name="navbar-carrot" id="navbar-carrot" autocomplete="off">

            <label for="navbar-carrot" id="navbar-carrot-label">
                <i class="fa-solid fa-square-caret-down"></i>
            </label>
        </div>
    </div>

    <!-- Nav backgrounds -->
    <div class="nav-bg nav-bg-transparent"></div>
    <div class="nav-bg nav-bg-dark"></div>

    <div class='nav-limiter'>
        <!-- Logo -->
        <p 
            class="logo-text" 
            onclick="window.location.href='{% cross_app_reverse_tag 'homepage' 'homepage_index' %}'"
            href="{% cross_app_reverse_tag 'homepage' 'homepage_index' %}">
            StreamStage
        </p>

        {% if request.impersonate %}
            <!-- Absolute position -->
            <div class="alert alert-warning imp-lable" role="alert">    
                <p class='m-0'>You are currently impersonating</p>
                <p class='name m-0'>{{ request.user.cased_username }} | {{ request.user.email }}</p>
            </div>
        {% endif %}

        <!-- Common items -->
        <div class="nav-items" data-nav-active='home' {% if request.impersonate %} style='display:none'{% endif %}>
            <ul class="d-flex">
                <li data-nav-area='home'><a href="{% cross_app_reverse_tag 'homepage' 'homepage_index' %}"> Home </a></li>
                <li data-nav-area='live'><a href="{% cross_app_reverse_tag 'events' 'live_events' %}"> Live </a></li>
                <li data-nav-area='upcoming'><a href="{% cross_app_reverse_tag 'events' 'upcoming_events' %}"> Upcoming </a></li>
                <li data-nav-area='past'><a href="{% cross_app_reverse_tag 'events' 'past_events' %}"> Past </a></li>
            </ul>
        </div>

        <!-- Search Bar -->
        <form 
            {% if request.impersonate %}style='display:none'{% endif %}
            class="nav-search-bar" 
            action="{% cross_app_reverse_tag 'search' 'searchResult' %}" 
            method="get"
        >
            <button class="search-icon" type="submit">
                <i class="fa-solid fa-search text-light"></i>
            </button>

            <input 
                name="q"
                id="nav-search-bar"
                placeholder="Title, Genre, etc." 
                class="form-control form-control-lg inp">
        </form>

        <!-- User Dropdown Menu -->
        <div class="user-dropdown" {% if request.impersonate %}style='display:none'{% endif %}>
            <div class='nav-dropdown-toggle d-flex align-items-center gap-2'>
                <!-- User Icon -->
                <div class="user-icon">
                    {% if user.is_authenticated %}
                        <img src="{{ user.get_profile_pic }}" alt="pfp">
                    {% else %}
                        <img src="{% static 'images/placeholder-pfp.png' %}" alt="pfp">
                    {% endif %}
                </div>

                <!-- Carrot -->
                <i class="fa-solid fa-caret-down nav-caret"></i>
            </div>

            <!-- Dropdown Menu -->
            <div class="nav-dropdown-menu">
                <!-- Little arrow pointing up-->
                <i class="fa-solid fa-caret-up nav-caret-up"></i>
                
                <ul>
                    <li>
                        <a class="user-icon-drop-down pe-2">
                            {% if user.is_authenticated %}
                                <img src="{{ user.get_profile_pic }}" alt="pfp">
                            {% else %}
                                <img src="{% static 'images/placeholder-pfp.png' %}" alt="pfp">
                            {% endif %}
                        </a>
                        <a href="{% cross_app_reverse_tag 'accounts' 'member_profile' %}" class="user-name">
                            {% if user.is_authenticated %}
                                {{ user.username }}
                            {% else %}
                                Visitor
                            {% endif %}
                        </a>
                    </li>
                    <li><hr></li>
                    {% if user.is_authenticated %}
                        <li class='nav-selectable' nav-id='profile'>
                            <i class="fa-solid fa-user-circle pe-2"></i>
                            <a href="{% cross_app_reverse_tag 'homepage' 'user_profile' username=user.username %}">Profile</a>
                        </li>
                        <li class='nav-selectable' nav-id='settings'>
                            <i class="fa-solid fa-cog pe-2"></i>
                            <a href="{% cross_app_reverse_tag 'accounts' 'member_profile' %}">Settings</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class='nav-selectable' nav-id='site_panel'>
                            <i class="fa-solid fa-lock pe-2"></i>
                            <a href="{% cross_app_reverse_tag 'accounts' 'site_panel' %}">Site Panel</a>
                        </li>
                    {% endif %}
                    <li class='nav-selectable' nav-id='help'>
                        <i class="fa-solid fa-question-circle pe-2"></i>
                        <a>Help center</a>
                    </li>
                    <li><hr></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% cross_app_reverse_tag 'accounts' 'logout' %}">Sign out of StreamStage</a></li>
                    {% else %}
                        <li><a href="{% cross_app_reverse_tag 'accounts' 'login' %}">Sign in to StreamStage</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Nav script -->
    {% render_bundle 'navbar' %}
</nav>