<header class="py-2 mb-2">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="dropdown">
            <div class='
                carrot
                d-flex
                align-items-center                
                ps-4
            '>
                <input 
                    type="checkbox"
                    name="navbar-carrot"
                    id="navbar-carrot" 
                    autocomplete="off"
                > 

                <label 
                    for="navbar-carrot"
                    id="navbar-carrot-label"
                >
                    <i class="fa-solid fa-square-caret-down"></i>
                </label>
            </div>
        </div>


      <div class="d-flex align-items-center">
        <form class="w-100 me-3">
            <input type="search" class="search-bar form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" class="rounded-1" width="32" height="32">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
      </div>
    </div>
</header>

<div class='header-spacer'></div>